@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1621216106') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1621216106') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1621216106') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1621216106') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-bars:before { content: "\f0c9"; }

.icon-navicon:before { content: "\f0c9"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-angle-double-left:before { content: "\f100"; }

.icon-angle-double-right:before { content: "\f101"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-arrow-right-thick:before { content: "\e900"; }

.icon-arrow-left-thick:before { content: "\e901"; }

.icon-error:before { content: "\e902"; }
