@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1620028202') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1620028202') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1620028202') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1620028202') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-bars:before { content: "\f0c9"; }

.icon-navicon:before { content: "\f0c9"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-angle-right:before { content: "\f105"; }

.icon-arrow-right-thick:before { content: "\e900"; }

.icon-arrow-left-thick:before { content: "\e901"; }
