@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.pageColorGreen { color: #4e8f2b; }

.pageColorBlue { color: #237eb1; }

.pageColorPurple { color: #af4dac; }

.pageColorOrange { color: #ff790b; }

.pageColorBrown { color: #996536; }

.pageColorLBlue { color: #52b1e3; }

.pageColorRed { color: #c51c17; }

.bg_LBlue { background-color: #52b1e3; }

.bg_blue { background-color: #129eff; }

.bg_page_green { background-color: #4e8f2b; }

.bg_page_blue { background-color: #237eb1; }

.bg_page_purple { background-color: #af4dac; }

.bg_page_orange { background-color: #ff790b; }

.bg_page_yellow { background-color: #fb9526 !important; }

.bg_page_brown { background-color: #996536; }

.bg_page_LGreen { background-color: #d7e5ce; }

.bg_page_Pink { background-color: #f27b9b; }

.bg_testOrange { background-color: #ff8504; }

.bg_testRed { background-color: #ff2653; }

.bg_testGreen { background-color: #83bf03; }

.bg_testBlue { background-color: #2a9fe9; }

input, textarea { border: 0 none; outline: 0; background-color: transparent; -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari 和 Chrome */ }

input[type="radio"] { display: none; }

input[type="radio"] + label { color: black; font-size: 1.6rem; display: block; text-align: left; padding: 10px 0 10px 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { input[type="radio"] + label { font-size: 1.2rem; } }

input[type="radio"] + label span { display: inline-block; width: 25px; height: 25px; vertical-align: middle; background: url(../img/cbx-off.png) no-repeat; cursor: pointer; margin-right: 10px; }

input[type="radio"]:checked + label span { background: url(../img/cbx-on.png) no-repeat; }

label { padding: 0; cursor: pointer; }
label.checkbox { float: left; margin-left: 30px; }
label.checkbox input[type=checkbox] { display: none; }
label.checkbox input[type=checkbox] + span { display: inline-block; padding-left: 26px; line-height: 25px; background: url(../img/cbx-off.png) no-repeat; user-select: none; text-indent: -9999px; }
label.checkbox input[type=checkbox]:checked + span { background: url(../img/cbx-on.png) no-repeat; }

.input_gray { display: inline-block; width: 100%; max-width: 135px; background-color: #d7d7d7; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 5px 20px; font-size: 1.3rem; color: black; }
@media screen and (max-width: 1024px) and (min-width: 770px) { .input_gray { max-width: 100px; } }

.input_safe { display: inline-block; width: 100%; max-width: 260px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 2px solid #b9b9b9; float: left; padding: 5px 20px; font-size: 1.3rem; color: black; background-color: white; margin-right: 15px; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_safe { margin-right: 0; max-width: none; } }
.input_safe.unselect { background-color: rgba(204, 204, 204, 0.8); }

.input_white { display: inline-block; width: 100%; max-width: 135px; background-color: white; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 5px 20px; font-size: 1.3rem; color: black; }
.input_white.m-login { width: 100%; max-width: none; }
.input_white.w-login { width: 75%; max-width: none; }
.input_white.m-menuUse { width: calc(100% - 69px); max-width: none; padding: 5px 10px; font-size: 1rem; }

.talk_input { display: inline-block; width: 100%; background-color: #d7d7d7; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 5px 20px; font-size: 1.3rem; color: black; }

.w_select_type { display: inline-block; width: 100%; float: right; font-size: 1.6rem; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /*適應safari瀏覽器內容不跑偏*/ line-height: 1; /*將預設的select選擇框樣式清除*/ appearance: none; -moz-appearance: none; -webkit-appearance: none; /*在選擇框的最右側中間顯示小箭頭圖片*/ background: url("../img/se_arrow.png") no-repeat scroll right center transparent; background-size: 38px 40px; /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/ padding-right: 14px; /*去除選中時樣式*/ outline: none; margin-top: 5px; }
.w_select_type.g { border: 1px solid #4e8f2b; color: #4e8f2b; }

.select_type { display: inline-block; width: calc(100% - 160px); float: right; font-size: 1.2rem; padding: 8px 10px; border: 1px solid #c6c6c6; color: black; /*適應safari瀏覽器內容不跑偏*/ line-height: 1; /*將預設的select選擇框樣式清除*/ appearance: none; -moz-appearance: none; -webkit-appearance: none; /*在選擇框的最右側中間顯示小箭頭圖片*/ background: url("../img/se_arrow.png") no-repeat scroll right center transparent; background-size: 38px 40px; /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/ padding-right: 14px; /*去除選中時樣式*/ outline: none; margin-top: 5px; }

.select_history { display: inline-block; width: calc(100% / 2 - 15px * 1 / 2); float: left; font-size: 1.2rem; padding: 8px 10px; border: 1px solid #c6c6c6; color: black; margin-right: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /*適應safari瀏覽器內容不跑偏*/ line-height: 1; /*將預設的select選擇框樣式清除*/ appearance: none; -moz-appearance: none; -webkit-appearance: none; /*在選擇框的最右側中間顯示小箭頭圖片*/ background: url("../img/his_arrow.png") no-repeat scroll right center white; background-size: 32px 40px; /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/ padding-right: 14px; /*去除選中時樣式*/ outline: none; margin-top: 5px; }
.select_history:last-child { margin-right: 0; }
