*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.pageColorGreen { color: #4e8f2b; }

.pageColorBlue { color: #237eb1; }

.pageColorPurple { color: #af4dac; }

.pageColorOrange { color: #ff790b; }

.pageColorBrown { color: #996536; }

.pageColorLBlue { color: #52b1e3; }

.pageColorRed { color: #c51c17; }

.bg_LBlue { background-color: #52b1e3; }

.bg_blue { background-color: #129eff; }

.bg_page_green { background-color: #4e8f2b; }

.bg_page_blue { background-color: #237eb1; }

.bg_page_purple { background-color: #af4dac; }

.bg_page_orange { background-color: #ff790b; }

.bg_page_brown { background-color: #996536; }

.bg_page_LGreen { background-color: #d7e5ce; }

.bg_testOrange { background-color: #ff8504; }

.bg_testRed { background-color: #ff2653; }

.bg_testGreen { background-color: #83bf03; }

.bg_testBlue { background-color: #2a9fe9; }

.m-close { display: inline-block; }
@media screen and (max-width: 449px) and (min-width: 0) { .m-close { display: none !important; } }

.m-open { display: none !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .m-open { display: inline-block !important; } }

.order_l { float: left; }

.order_r { float: right; }

.testIcon { display: inline-block; width: 100%; max-width: 22px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testIcon { max-width: 15px; } }

.pageContentImg { display: inline-block; float: right; width: 100%; max-width: 300px; margin: 0 0 10px 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pageContentImg { max-width: none; margin: 0 0 10px 0; } }

.d-borderDotted { display: inline-block; width: 100%; border-bottom: 1px dotted #a2a2a3; }

.logo, .header_icon, .icon_qa, .icon_lock { display: inline-block; width: 100%; }

.logo { max-width: 132px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .logo { max-width: 85px; } }

.header_icon { max-width: 30px; padding-top: 13px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .header_icon { padding-top: 5px; } }

.icon_qa { max-width: 25px; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .icon_qa { max-width: 17px; margin-right: 5px; padding-top: 2px; } }

.icon_lock { max-width: 42px; }
@media screen and (max-width: 449px) and (min-width: 0) { .icon_lock { max-width: 25px; } }

.img_slogan, .img_week, .img_testPlay { display: inline-block; width: 100%; }

.img_slogan { max-width: 570px; }
.img_slogan.img_S_page { max-width: 310px; }
@media screen and (max-width: 449px) and (min-width: 0) { .img_slogan.img_S_page { max-width: 133px; } }

.helpTtitleImg { display: inline-block; width: 100%; max-width: 370px; float: left; }

.pt-img { display: inline-block; width: 100%; max-width: 890px; }

.img_week { max-width: 200px; position: absolute; left: 75px; }
@media screen and (max-width: 1099px) and (min-width: 770px) { .img_week { max-width: 160px; left: 25px; top: 60px; } }

.img_testPlay { max-width: 140px; position: absolute; right: 115px; top: 115px; }
@media screen and (max-width: 1099px) and (min-width: 770px) { .img_testPlay { max-width: 120px; right: 55px; top: 175px; } }

.img_ad { display: inline-block; width: 100%; max-width: 275px; }

.tip_box { display: inline-block; position: absolute; bottom: 0; left: 0; width: 40px; height: 40px; z-index: 8888; }
@media screen and (max-width: 449px) and (min-width: 0) { .tip_box { display: none; } }

.prompt { position: relative; display: inline-block; width: 40px; height: 40px; }
.prompt.pa:hover { cursor: pointer; }
.prompt.pa:hover:before { content: attr(data-showtip); background-color: red; color: white; padding: 0 5px; position: absolute; font-size: .9rem; left: -20px; bottom: -35px; margin-right: -8px; white-space: pre; line-height: 25px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.prompt.pa:hover:after { display: inline-block; content: ''; position: absolute; left: 17px; bottom: -11px; width: 0; height: 0; border-style: solid; border-width: 0 5px 5px 5px; border-color: transparent transparent red transparent; }
.prompt:hover { cursor: pointer; }
.prompt:hover:before { content: attr(data-showtip); background-color: red; color: white; padding: 0 5px; position: absolute; font-size: .9rem; left: -16px; bottom: -35px; margin-right: -8px; white-space: pre; line-height: 25px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.prompt:hover:after { display: inline-block; content: ''; position: absolute; left: 7px; bottom: -11px; width: 0; height: 0; border-style: solid; border-width: 0 5px 5px 5px; border-color: transparent transparent red transparent; }

.img_menu01, .img_menu02, .img_menu03, .img_menu04, .img_menu05, .img_menu06 { display: inline-block; width: 100%; }

.img_menu01 { max-width: 236px; }

.img_menu02 { max-width: 221px; }

.img_menu03 { max-width: 342px; }

.img_menu04 { max-width: 202px; }

.img_menu05 { max-width: 198px; }

.img_menu06 { max-width: 138px; }

.m_header_img { display: inline-block; width: 100%; max-width: 55px; }

.m_menu { display: none; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; z-index: 9999; top: 0; right: -100%; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_menu { display: inline-block; } }
.m_menu.menu_open { right: 0; }
.m_menu .menuBox { display: inline-block; width: 80%; height: 100vh; background-color: white; float: right; position: relative; }
.m_menu .menuClose { display: inline-block; width: 20%; float: left; margin: 10px 0; }

.m_header { display: inline-block; width: 100%; padding: 15px 0; background-color: #9ad8fa; }

.dropbtn { width: 100%; text-align: left; color: black; padding: 7px 15px 7px 55px; font-size: 1.5rem; border-top: 1px solid #a2a2a3; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.dropbtn.m-nb { border-top: 0; }
.dropbtn.m-menu01 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu01.png); }
.dropbtn.m-menu02 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu02.png); }
.dropbtn.m-menu03 { background-repeat: no-repeat; background-position: 19px 6px; background-image: url(../img/mMenuIcon/m-menu03.png); }
.dropbtn.m-menu04 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu04.png); }
.dropbtn.m-menu05 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu05.png); }
.dropbtn.m-menu06 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu06.png); }
.dropbtn.m-menu07 { background-repeat: no-repeat; background-position: 15px 10px; background-image: url(../img/mMenuIcon/m-menu07.png); }
.dropbtn.m-menu08 { background-repeat: no-repeat; background-position: 15px 6px; background-image: url(../img/mMenuIcon/m-menu08.png); }

.dropdown { display: inline-block; width: 100%; }

.dropdown-content { display: none; width: 100%; background-color: #f9f9f9; text-align: left; }
.dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; border-bottom: 1px solid #a2a2a3; }
.dropdown-content a:hover { background-color: #f1f1f1; }
.dropdown-content a:last-child { border-bottom: 0; }

.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #fff000; border-top: 0; }
.dropdown:hover .dropbtn.m-menu01 { background-image: url(../img/mMenuIcon/m-menu01-hover.png); }
.dropdown:hover .dropbtn.m-menu02 { background-image: url(../img/mMenuIcon/m-menu02-hover.png); }
.dropdown:hover .dropbtn.m-menu03 { background-image: url(../img/mMenuIcon/m-menu03-hover.png); }
.dropdown:hover .dropbtn.m-menu04 { background-image: url(../img/mMenuIcon/m-menu04-hover.png); }
.dropdown:hover .dropbtn.m-menu05 { background-image: url(../img/mMenuIcon/m-menu05-hover.png); }
.dropdown:hover .dropbtn.m-menu06 { background-image: url(../img/mMenuIcon/m-menu06-hover.png); }
.dropdown:hover .dropbtn.m-menu07 { background-image: url(../img/mMenuIcon/m-menu07-hover.png); }
.dropdown:hover .dropbtn.m-menu08 { background-image: url(../img/mMenuIcon/m-menu08-hover.png); }

.img_testbook { display: inline-block; width: 100%; max-width: 70px; float: left; }
