@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.pageColorGreen { color: #4e8f2b; }

.pageColorBlue { color: #237eb1; }

.pageColorPurple { color: #af4dac; }

.pageColorOrange { color: #ff790b; }

.pageColorBrown { color: #996536; }

.pageColorLBlue { color: #52b1e3; }

.pageColorRed { color: #c51c17; }

.bg_LBlue { background-color: #52b1e3; }

.bg_blue { background-color: #129eff; }

.bg_page_green { background-color: #4e8f2b; }

.bg_page_blue { background-color: #237eb1; }

.bg_page_purple { background-color: #af4dac; }

.bg_page_orange { background-color: #ff790b; }

.bg_page_yellow { background-color: #fb9526 !important; }

.bg_page_brown { background-color: #996536; }

.bg_page_LGreen { background-color: #d7e5ce; }

.bg_page_Pink { background-color: #f27b9b; }

.bg_testOrange { background-color: #ff8504; }

.bg_testRed { background-color: #ff2653; }

.bg_testGreen { background-color: #83bf03; }

.bg_testBlue { background-color: #2a9fe9; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: black; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
body.indexBg { margin: 0; padding: 0; background: #436ace url(../img/bg.png) center center fixed no-repeat; -moz-background-size: cover; background-size: cover; }
@media screen and (max-width: 449px) and (min-width: 0) { body.indexBg { background: #436ace url(../img/m_bg.png) center center fixed no-repeat; background-size: cover; -moz-background-size: cover; } }

header { display: flex; justify-content: center; align-items: center; width: 100%; height: 65px; background-color: white; padding: 0 50px; }
header.pageH { position: absolute; top: 0; left: 0; z-index: 8888; box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, 0.8); }
@media screen and (max-width: 449px) and (min-width: 0) { header.pageH { box-shadow: none; } }
@media screen and (max-width: 1189px) and (min-width: 770px) { header { padding: 0 20px; } }
@media screen and (max-width: 769px) and (min-width: 450px) { header { padding: 0 0 0 20px; } }
@media screen and (max-width: 449px) and (min-width: 0) { header { display: inline-block; padding: 0 0 0 10px; height: 40px; } }

.pageTitleBox { justify-content: center; align-items: center; display: flex; width: 100%; min-height: 140px; margin-top: 65px; background: url(../img/pageHeaderBG.png) left bottom no-repeat; -moz-background-size: cover; background-size: cover; }
.pageTitleBox.pageTB_no { margin-top: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .pageTitleBox { margin-top: 40px; min-height: 60px; background: url(../img/m-pageHeaderBG.png) center center no-repeat; -moz-background-size: cover; background-size: cover; } }

.header_l, .header_r { display: inline-block; }

.header_l { width: 30%; float: left; text-align: left; }
@media screen and (max-width: 769px) and (min-width: 0) { .header_l { width: 85%; } }

.header_r { width: 70%; float: right; text-align: right; }
@media screen and (max-width: 769px) and (min-width: 0) { .header_r { display: none; } }

.posit { position: relative; }

.posit_a { position: absolute; }

.OutBoxs15 { display: inline-block; width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .OutBoxs15 { padding: 0 15px; } }

.t-not-boxs { display: inline-block; padding: 0 10px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-not-boxs { padding: 0 0 0 8px; } }
.t-not-boxs img { display: inline-block; width: 100%; max-width: 36px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-not-boxs img { max-width: 27px; } }
.t-not-boxs p { display: inline-block; font-size: 1.2rem; padding: 0 5px; font-weight: bolder; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-not-boxs p { font-size: .9rem; } }
.t-not-boxs p.tb { color: #002e6a; }
.t-not-boxs p.tg { color: #04780a; }
.t-not-boxs p.tr { color: #880015; }

.boxs3_l { display: inline-block; width: calc(100% / 3 - 10px * 2 / 3); float: left; }
.boxs3_l:nth-child(2) { margin: 0 10px; }

.boxs3 { display: inline-block; width: calc(100% / 3 - 15px * 2 / 3); margin-right: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 10px; float: left; *zoom: 1; }
.boxs3:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs3 { width: 100%; margin-bottom: 15px; }
  .boxs3:last-child { margin-bottom: 0; } }
.boxs3.tcGreen { background-color: #e2fe9f; }
.boxs3.tcBlue { background-color: #9bd0ff; }
.boxs3.tcRed { background-color: #ffb0bb; }
.boxs3:last-child { margin-right: 0; }
.boxs3 .testbook_right { display: inline-block; width: calc(100% - 70px); padding-left: 10px; float: right; }

.testGreyBoxs { display: inline-block; float: right; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 10px; background-color: #d5d5d5; }
@media screen and (max-width: 449px) and (min-width: 0) { .testGreyBoxs { padding: 5px; float: none; } }

.testCentBoxs { display: inline-block; width: 100%; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 20px 10px; }

.testCentBg { display: inline-block; width: 100%; background-color: white; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 15px; margin-bottom: 15px; }
.testCentBg:last-child { margin-bottom: 0; }

.hisBoxs { display: inline-block; width: 100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid #8f74d0; background-color: #e3d6fe; padding: 10px; }

.hisCentBox { display: inline-block; width: 100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: white; padding: 15px; }
.hisCentBox.in_his { max-height: 600px; overflow-x: hidden; }

.ds { display: inline-block; *zoom: 1; }
.ds:after { display: table; content: ""; line-height: 0; clear: both; }
.ds.ds100 { width: 100%; }
.ds.ds-60 { width: calc(100% - 60px); padding-left: 8px; }

.ds_cent { display: flex; justify-content: center; align-items: center; }

.knowselect { display: inline-block; width: 100%; display: none; }
.knowselect.knowselect_show { display: inline-block; }

.pageBoxs { display: inline-block; width: 100%; max-width: 1180px; *zoom: 1; }
.pageBoxs:after { display: table; content: ""; line-height: 0; clear: both; }
.pageBoxs .pageLeft, .pageBoxs .pageRight { display: inline-block; float: left; }
.pageBoxs .pageLeft { width: 250px; }
@media screen and (max-width: 449px) and (min-width: 0) { .pageBoxs .pageLeft { display: none; } }
.pageBoxs .pageRight { width: calc(100% - 250px); padding-left: 40px; }
.pageBoxs .pageRight.pageR_all { width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .pageBoxs .pageRight.page_R_K { width: 100%; padding: 15px 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { .pageBoxs .pageRight { width: 100%; padding: 15px; }
  .pageBoxs .pageRight.tImg { padding: 15px 0; } }

.bigBoxs { display: inline-block; width: 100%; position: relative; min-height: 870px; }
.bigBoxs.cent_index { height: calc(100vh - 65px); margin: 0; padding: 0; background-image: url(../img/big_planet.png), url(../img/star.png); background-repeat: no-repeat, no-repeat; background-position: center bottom, center 65px; -moz-background-size: contain, contain; background-size: contain, contain; }
.bigBoxs.cent_index.chagne_cent { height: 100%; }
.bigBoxs.cent_index.nocut { height: 100vh; }
@media screen and (max-width: 449px) and (min-width: 0) { .bigBoxs.cent_index { height: calc(100vh - 40px); min-height: 610px; background-image: url(../img/big_planet.png), url(../img/m_star.png); background-repeat: no-repeat, no-repeat; background-position: center bottom, center top; -moz-background-size: contain, contain; background-size: contain, cover; } }
.bigBoxs .bigPlanet { display: inline-block; width: 100%; min-height: 490px; bottom: 0; left: 0; margin: 0; padding: 0; }
.bigBoxs .bigPlanet.change_big { position: unset; }
@media screen and (max-width: 449px) and (min-width: 0) { .bigBoxs .bigPlanet { min-height: 220px; } }

.planetBoxs { display: inline-block; width: 100%; height: calc(100% - 490px); position: relative; z-index: 7777; }
@media screen and (max-width: 449px) and (min-width: 0) { .planetBoxs { display: none; } }

.mainBoxs { display: inline-block; width: 100%; max-width: 1160px; margin: 0 auto; *zoom: 1; }
.mainBoxs:after { display: table; content: ""; line-height: 0; clear: both; }

.maxWidth { max-width: 1160px; }

.ads { margin: 0 auto; max-width: 1159px; }

.allBoxs { display: inline-block; width: 100%; *zoom: 1; }
.allBoxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 1159px) and (min-width: 0) { .allBoxs { padding: 0 15px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .allBoxs.all_no_p { padding: 0; } }

.boxs280 { display: inline-block; width: 100%; height: 280px; }
@media screen and (max-width: 449px) and (min-width: 0) { .boxs280 { height: auto; } }

.boxs120 { display: inline-block; width: 100%; height: 120px; }

footer { display: inline-block; width: 100%; padding: 20px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { footer { padding: 10px 15px; } }

.MyAds { width: 24%; }
.MyAds.slick-slider { display: inline-block; }

.adBoxs { display: inline-block; width: calc(100% / 4 - 20px * 3 / 4); height: 120px; margin-right: 20px; float: left; background-color: transparent; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; overflow: hidden; max-width: 258px; }
.adBoxs:last-child { margin-right: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .adBoxs { display: none; } }

.box10, .box20, .box30, .box40, .box50, .box60, .box70, .box80, .box90 { display: inline-block; float: left; }

.box10 { width: 10%; }

.box20 { width: 20%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box20 { width: 100%; } }

.box30 { width: 30%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box30 { width: 100%; } }

.box40 { width: 40%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box40 { width: 100%; } }

.box50 { width: 50%; }

.box60 { width: 60%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box60 { width: 100%; } }

.box70 { width: 70%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box70 { width: 100%; } }

.box80 { width: 80%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box80 { width: 100%; } }

.box90 { width: 90%; }
@media screen and (max-width: 449px) and (min-width: 0) { .box90 { width: 100%; } }

.box100 { display: flex; justify-content: center; align-items: center; }
.box100 .box50 { display: flex; }
.box100 .box50 label { display: flex; justify-content: flex-start; align-items: center; width: 100%; text-align: left; }
.box100 .box50 label span { display: inline-block; }
.box100 .box50 label p { width: 80%; }
.box100 .box50 .nopl { display: flex; align-items: center; }
.box100 .box50 .nopl img { max-height: 27px; }

.m-qBtnBox { display: inline-block; width: calc(100% - 55px - 110px); }

.fixBoxs { display: inline-block; width: 100%; position: absolute; left: 0; bottom: 0; padding: 15px; }

.fixBoxs_l { display: inline-block; position: absolute; left: 0; bottom: 0; padding: 15px; }

.fixBoxs_r { display: inline-block; position: absolute; right: 0; bottom: 0; padding: 15px; }

.safeBoxs { display: inline-block; width: calc(100% - 20px * 2); max-width: 950px; margin: 150px 20px 50px 20px; padding: 20px; background-color: rgba(255, 255, 255, 0.5); -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; position: relative; }
@media screen and (max-width: 449px) and (min-width: 0) { .safeBoxs { margin: 50px 0; padding: 10px; width: 100%; } }

.safeCent325 { display: inline-block; width: 100%; max-width: 325px; float: left; }

.safeBox { display: inline-block; width: 100%; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */ background: white; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #eeeeee 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */ -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 15px; }

#banner { display: none; overflow: hidden; width: 100%; height: 300px; position: relative; padding: 30px 15px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { #banner { display: inline-block; } }

#tab > img:not(:first-child) { display: none; }

.lunbo_btn { height: 15px; width: 100%; margin: 0px auto; margin-top: -40px; position: absolute; z-index: 3; text-align: center; }
.lunbo_btn span { width: 14px; height: 14px; display: inline-block; background-color: #b4b5b7; border-radius: 50%; margin: 0px 2px; cursor: pointer; }
.lunbo_btn span.hover { background-color: #ffb23c; }

.arrow { width: 30px; height: 60px; position: absolute; top: 50%; margin-top: -30px; z-index: 999; }
.arrow span { display: block; width: 20px; height: 20px; border-bottom: 5px solid #fff; border-left: 5px solid #fff; }

.slider_left { margin: 25px 0 0 15px; transform: rotate(45deg); }

.prve { left: 0; }

.next { right: 0; }

.slider_right { margin: 25px 0 0 -5px; transform: rotate(-135deg); }

#banner:hover .arrow { display: block; }

.help-note { display: inline-block; width: calc(100% - 370px - 10px * 2); margin: 10px; padding: 10px; font-size: 1.7rem; color: #b10003; font-weight: bolder; text-align: left; float: left; background-color: #ffe006; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .help-note { width: 100%; text-align: center; margin: 0; font-size: 1.38rem; } }

.qaBoxs { display: inline-block; width: 100%; text-align: left; padding: 15px 0; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .qaBoxs:before { font-size: 1.15rem; } }
.qaBoxs:before { display: inline-block; content: attr(title); font-size: 1.7rem; font-weight: bolder; color: #00327c; }

.qBoxs, .aBoxs { display: inline-block; width: calc(100% - 40px); float: right; font-size: 1.7rem; color: #00327c; }
@media screen and (max-width: 449px) and (min-width: 0) { .qBoxs:before, .aBoxs:before { font-size: 1.15rem; } }
.qBoxs:before, .aBoxs:before { display: inline-block; content: attr(title); font-size: 1.7rem; font-weight: bolder; margin-right: 5px; }

.qBoxs { padding-bottom: 10px; }
.qBoxs:before { color: #e35252; }

.aBoxs:before { color: #4e8f2b; }
.aBoxs a { display: inline-block; cursor: pointer; text-decoration: underline; color: #e35252; }

.videoCentBoxs { display: inline-block; cursor: pointer; width: calc(100% / 4 - 40px * 3 / 4); float: left; margin-right: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .videoCentBoxs { width: 100%; margin-right: 0; margin-bottom: 20px; }
  .videoCentBoxs:nth-child(n+5) { margin-top: 0; } }
.videoCentBoxs:nth-child(4n+4) { margin-right: 0; }
.videoCentBoxs:nth-child(n+5) { margin-top: 20px; }
.videoCentBoxs .link_video { display: inline-block; width: 100%; }
.videoCentBoxs .link_video .video_pic { display: inline-block; width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #52b1e3; padding: 10px; }
.videoCentBoxs .link_video .video_pic img { display: inline-block; width: 100%; max-width: 325px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.videoCentBoxs .link_video .game_pic { display: inline-block; width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #ffc505; padding: 10px; }
.videoCentBoxs .link_video .game_pic img { display: inline-block; width: 100%; max-width: 325px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.videoCentBoxs .link_video p { display: inline-block; width: 100%; font-size: 1.5rem; color: black; padding-top: 5px; }
.videoCentBoxs .link_video:hover .video_pic, .videoCentBoxs .link_video:hover .game_pic { background-color: #e35252; }
.videoCentBoxs .link_video:hover p { color: #e35252; }

.loginBoxs { display: inline-block; width: 100%; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; background-color: #ffbd06; padding: 0 15px 15px 15px; }

.w_loginBoxs { display: flex; justify-content: center; align-items: center; width: 100%; height: 400px; }
.w_loginBoxs.chang_boxs { height: 600px; }
.w_loginBoxs .whiteBoxs { display: inline-block; width: 100%; max-width: 685px; margin: 0 auto; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; background-color: white; padding: 15px; }

.writeBoxs { display: inline-block; width: 100%; height: 346px; background: url(../img/interactive/in_write_bg.png) center center no-repeat; -moz-background-size: cover; background-size: cover; padding: 45px; }
@media screen and (max-width: 449px) and (min-width: 0) { .writeBoxs { height: 270px; background: url(../img/interactive/m_in_write_bg.png) center center no-repeat; -moz-background-size: cover; background-size: cover; padding: 18px; } }

.write_White_Boxs { display: inline-block; width: 100%; height: 140px; margin-top: 20px; overflow: hidden; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; background-color: white; padding: 15px; }
.write_White_Boxs.wwb2 { width: 48%; }
@media screen and (max-width: 449px) and (min-width: 0) { .write_White_Boxs { margin-top: 8px; padding: 8px; height: 96px; } }

.show-box.spbox { display: inline-block; }
@media screen and (max-width: 449px) and (min-width: 0) { .show-box.spbox .top { padding: 0 10px 0 10px !important; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox { position: relative; height: 100px; background-color: transparent !important; padding: 0 !important; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox + .box { margin-left: 10px; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox img { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; z-index: 1; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox:after { display: none; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox span { position: absolute; bottom: 4px; left: 4px; right: 4px; font-size: 10px; padding: 0 10px; z-index: 2; display: inline-block; width: calc(100% - 4px * 2); height: 20px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: white; background-color: #cccdcc; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
  .show-box.spbox .top .boxs .box-container .box.writeCentBox span br { display: none; } }

.wh { width: 100%; height: 140px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-start; padding-bottom: 20px; }

.boxn { display: inline-block; width: 100%; margin-top: 20px; }
.boxn .header { width: 100%; height: 32px; line-height: 32px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-start; padding-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
.boxn .header label { flex-shrink: 0; display: inline-block; width: 150px; height: 32px; line-height: 32px; border: 1px solid rgba(0, 0, 0, 0.3); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.boxn .header label input { width: 100%; height: 100%; }
.boxn .header b { flex-grow: 1; height: 32px; line-height: 32px; }
.boxn .units { display: inline-flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: flex-start; width: 100%; margin-top: 20px; }
.boxn .units > * { background-color: #ecedd4; display: inline-flex; flex-direction: column; align-items: center; justify-content: center; padding: 10px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
@media screen and (max-width: 450px) and (min-width: 0) { .boxn .units > * { width: 100%; }
  .boxn .units > * img { height: auto; }
  .boxn .units > * + * { margin-top: 20px; } }
@media screen and (min-width: 450px) { .boxn .units > * { width: calc(100% / 5 - 10px * 4 / 5); }
  .boxn .units > * + * { margin-left: 10px; }
  .boxn .units > *:nth-child(5n + 1) { margin-left: 0; }
  .boxn .units > *:nth-child(n + 6) { margin-top: 10px; }
  .boxn .units > * img { height: 120px; } }
.boxn .units > * img { display: inline-block; width: calc(100% - 20px); }
.boxn .units > * img + span { margin-top: 4px; }
.boxn .units > * span { display: inline-block; width: 100%; height: 20px; line-height: 20px; text-align: center; font-weight: bold; }

.fixModel { width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 auto; padding: 10px; border-radius: 5px; background-color: #245ac7; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .fixModel { width: 85%; } }
.fixModel p { font-size: 16px; color: white; margin: 10px 0; line-height: 2; }
.fixModel p > span { color: #f8fc01; }
.fixModel button.fix_btn_close { display: flex; justify-content: center; align-items: center; margin: 0 auto; border: 1px solid; width: 80px; border: 1px solid transparent; height: 30px; border-radius: 25px; }
