.m_r_10 { margin-right: 10px; }

.m_r_5 { margin-right: 5px; }

.m_t_10 { margin-top: 10px; }

.m_t_5 { margin-top: 5px; }

.m_rt_3_8 { margin: 3px 8px 0 0; }

.p_t_3 { padding-top: 3px; }

.p_t_5 { padding-top: 5px; }

.p_td_20 { padding: 20px 0; }

.m_r_30 { margin-right: 30px; }
