@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.pageColorGreen { color: #4e8f2b; }

.pageColorBlue { color: #237eb1; }

.pageColorPurple { color: #af4dac; }

.pageColorOrange { color: #ff790b; }

.pageColorBrown { color: #996536; }

.pageColorLBlue { color: #52b1e3; }

.pageColorRed { color: #c51c17; }

.bg_LBlue { background-color: #52b1e3; }

.bg_blue { background-color: #129eff; }

.bg_page_green { background-color: #4e8f2b; }

.bg_page_blue { background-color: #237eb1; }

.bg_page_purple { background-color: #af4dac; }

.bg_page_orange { background-color: #ff790b; }

.bg_page_yellow { background-color: #fb9526 !important; }

.bg_page_brown { background-color: #996536; }

.bg_page_LGreen { background-color: #d7e5ce; }

.bg_page_Pink { background-color: #f27b9b; }

.bg_testOrange { background-color: #ff8504; }

.bg_testRed { background-color: #ff2653; }

.bg_testGreen { background-color: #83bf03; }

.bg_testBlue { background-color: #2a9fe9; }

html { font-size: 13px; }

body { display: inline-block; width: 100%; margin: 0; padding: 0; color: black; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }

<<<<<<< HEAD
.testP { display: inline-block; width: 100%; font-size: 30px; color: black; margin: 0; padding-bottom: 15px; }

.tb { display: flex; justify-content: center; align-items: center; }
.tb .button_outer_2 { margin-bottom: 20px; background-color: #0da5f0; border: 4px solid #0b73d7; border-radius: 25px; padding: 5px; }
=======
.tb { display: flex; justify-content: center; align-items: center; margin-top: 10px; }
.tb .button_outer_2 { background-color: #0da5f0; border: 4px solid #0b73d7; border-radius: 25px; padding: 5px; }
>>>>>>> e6c750d58fbd771881d5faed936f44e1c2ea10ec
.tb .button_outer_2 .button_inner { background-color: #85f5fc; border-radius: 25px; padding: 5px 10px; }
.tb .button_outer_2 .button_inner a { font-size: 16px; text-decoration: none; color: unset; }
.tb .button_outer_2 .button_inner span { font-size: 16px; }

.testpaper_bg { position: relative; display: inline-block; margin: 0 auto; width: 100%; max-width: 720px; height: 1200px; background-image: url(../img/testpaper/in_title_big.png), url(../img/testpaper/island_ot.png), url(../img/testpaper/bg_blue.png); background-repeat: no-repeat, no-repeat, no-repeat; background-position: center top, center bottom, center top; -moz-background-size: contain, contain, cover; background-size: initial, contain, initial; background-color: #6cd5ed; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg { max-width: none; height: 100vh; background-size: contain; background-image: url(../img/testpaper/index_m_bg.jpg); } }
.testpaper_bg.infoPage { background-image: url(../img/testpaper/in_title_s.png), url(../img/testpaper/island.png), url(../img/testpaper/bg_blue.png); }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg.infoPage { max-width: none; height: 100vh; background-size: contain; background-image: url(../img/testpaper/description_bg_m.jpg); } }
.testpaper_bg.challengePage { padding-top: 200px; padding-bottom: 50px; height: 100%; background-image: url(../img/testpaper/cent_title.png), url(../img/testpaper/island.png), url(../img/testpaper/bg_blue.png); background-position: center 1%, center bottom, center top; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg.challengePage { max-width: none; padding-top: 100px; background-position: center .5%, center bottom, center top; background-image: url(../img/testpaper/cent_title.png), url(../img/testpaper/island.png), url(../img/testpaper/bg_blue.png); } }
.testpaper_bg.challengePage .testpaper_boxs .tp_centBoxs { align-items: flex-start; }
.testpaper_bg .testpaper_boxs { display: inline-block; width: 100%; height: 100%; overflow: auto; }
.testpaper_bg .testpaper_boxs .tp-title { display: inline-flex; justify-content: flex-start; }
.testpaper_bg .testpaper_boxs .tp_centBoxs { position: relative; display: inline-flex; justify-content: center; align-items: center; overflow: hidden; width: 100%; height: 100%; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_buttonBoxs { display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%; height: 330px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_buttonBoxs { height: 240px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_buttonBoxs .btnBox { cursor: pointer; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_infoBoxs { position: relative; top: 100px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_infoBoxs { top: 60px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_infoBoxs > img { width: auto; height: auto; max-width: 100%; max-height: 100%; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_infoBoxs > a { position: relative; top: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_infoBoxs > a { top: 20px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs { position: relative; width: 100%; padding: 10px; max-width: 650px; background-color: white; border-radius: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs { width: 95%; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionNo { display: flex; justify-content: flex-start; align-items: center; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionScore { display: flex; justify-content: space-between; align-items: flex-start; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionScore .socreBox { display: flex; justify-content: center; align-items: center; width: 100px; height: 100px; margin: 10px; border: 1px solid #959595; border-radius: 10px; font-size: 32px; color: #e35252; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionScore .socreBox h3 { margin: 0; position: relative; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionScore .socreBox h3:after { content: '分'; font-size: 16px; vertical-align: baseline; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionCoke { display: flex; justify-content: flex-end; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionCoke .button_outer { margin-bottom: 20px; background-color: #0da5f0; border: 4px solid #0b73d7; border-radius: 25px; padding: 5px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionCoke .button_outer .button_inner { background-color: #85f5fc; border-radius: 25px; padding: 5px 10px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionCoke .button_outer .button_inner a { font-size: 16px; text-decoration: none; color: unset; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionType { margin-top: 40px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent { counter-reset: question; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox { position: relative; margin: 20px 0; padding-left: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox { padding-left: 10px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox.wrong:before { content: 'X'; position: absolute; top: 6px; left: 0; font-size: 36px; color: #e35252; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox.wrong:before { top: 5px; font-size: 18px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .question { position: relative; display: flex; align-items: center; height: 100%; margin-top: 40px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .question:before { counter-increment: question; content: counter(question) "."; margin: 0 25px; font-size: 36px; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .question:before { margin: 0 15px; font-size: 18px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .question img { max-width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .question img { max-width: 100%; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .answer { display: flex; flex-direction: column; align-items: flex-start; padding-left: 35px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .answer label { display: flex; justify-content: center; align-items: center; margin-top: 10px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .answer label input[type=radio] + picture { cursor: pointer; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .answer label img { max-width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .answer label img { max-width: 100%; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .r-answer { margin-top: 10px; text-align: left; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .r-answer img { max-width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .questionBoxs .questionContent .questionBox .r-answer img { max-width: 100%; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons { display: flex; justify-content: center; margin-bottom: 20px; font-size: 20px; cursor: pointer; }
@media screen and (max-width: 449px) and (min-width: 0) { .testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons { font-size: 16px; } }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons .button_outer { background-color: #0da5f0; border: 4px solid #0b73d7; border-radius: 25px; padding: 5px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons .button_outer:nth-child(1) { margin-right: 20px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons .button_outer:nth-child(2) { margin-left: 20px; }
.testpaper_bg .testpaper_boxs .tp_centBoxs .tp_challengeBoxs .tp_challengeButtons .button_outer .button_inner { background-color: #85f5fc; border-radius: 25px; padding: 5px; }

.model { display: none; cursor: pointer; justify-content: center; align-items: center; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(33, 33, 33, 0.8); }
.model.showModel { display: flex; }
.model .ac_outer { width: 80%; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer { width: 100%; } }
.model .ac_outer .hisCentBox { display: inline-block; }
.model .ac_outer .hisCentBox.quitModel, .model .ac_outer .hisCentBox.scoreModel { width: 40%; background-color: white; border: 10px solid #fda900; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox.quitModel, .model .ac_outer .hisCentBox.scoreModel { width: 95%; } }
.model .ac_outer .hisCentBox.in_his { height: 100%; }
.model .ac_outer .hisCentBox .model_content { margin: 20px 0; padding: 10px; width: 100%; height: 100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.model .ac_outer .hisCentBox .model_content .text { display: flex; justify-content: center; align-items: flex-start; margin-bottom: 20px; font-size: 32px; text-align: left; }
.model .ac_outer .hisCentBox .model_content .text p { margin: 0 0 0 10px; }
.model .ac_outer .hisCentBox .model_content .text p span { vertical-align: baseline; }
.model .ac_outer .hisCentBox .model_content .text.completeModel { background-image: url(../img/testpaper/frame_pass.png); background-size: cover; background-repeat: no-repeat; width: 550px; height: 500px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.completeModel { background-image: url(../img/testpaper/frame_pass_m.png); width: 375px; height: 350px; } }
.model .ac_outer .hisCentBox .model_content .text.completeModel.text { flex-direction: column; justify-content: flex-end; align-items: center; }
.model .ac_outer .hisCentBox .model_content .text.completeModel.text p { width: 300px; font-size: 24px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.completeModel.text p { width: 260px; font-size: 22px; } }
.model .ac_outer .hisCentBox .model_content .text.completeModel.text img { margin-bottom: 20px; width: auto; height: auto; max-width: 200px; max-height: 225px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.completeModel.text img { width: 100px; height: 125px; } }
.model .ac_outer .hisCentBox .model_content .text.failModel { background-image: url(../img/testpaper/frame_fail.png); background-size: contain; background-repeat: no-repeat; width: 450px; height: 400px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.failModel { background-image: url(../img/testpaper/frame_fail_m.png); width: 375px; height: 325px; } }
.model .ac_outer .hisCentBox .model_content .text.failModel.text { flex-direction: column; justify-content: flex-end; align-items: center; }
.model .ac_outer .hisCentBox .model_content .text.failModel.text p { width: 300px; font-size: 24px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.failModel.text p { width: 260px; font-size: 22px; } }
.model .ac_outer .hisCentBox .model_content .text.failModel.text img { margin-bottom: 20px; width: auto; height: auto; max-width: 200px; max-height: 225px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .text.failModel.text img { max-width: 150px; max-height: 175px; } }
.model .ac_outer .hisCentBox .model_content .text.notModel { position: relative; }
.model .ac_outer .hisCentBox .model_content .text.notModel img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.model .ac_outer .hisCentBox .model_content .text.notModel a { position: absolute; bottom: 5%; }
.model .ac_outer .hisCentBox .model_content .buttons { display: flex; justify-content: center; font-size: 20px; cursor: pointer; }
.model .ac_outer .hisCentBox .model_content .buttons.completeModel, .model .ac_outer .hisCentBox .model_content .buttons.failModel { flex-direction: column; justify-content: space-between; align-items: center; height: 300px; }
@media screen and (max-width: 449px) and (min-width: 0) { .model .ac_outer .hisCentBox .model_content .buttons.completeModel, .model .ac_outer .hisCentBox .model_content .buttons.failModel { height: 200px; } }
.model .ac_outer .hisCentBox .model_content .buttons.failModel > .btnBox { margin: 10px 0; }
.model .ac_outer .hisCentBox .model_content .buttons.scoreModel .button_outer:nth-child(1) { margin-right: 0; }
.model .ac_outer .hisCentBox .model_content .buttons .button_outer { background-color: #0da5f0; border: 4px solid #0b73d7; border-radius: 25px; width: 120px; height: 40px; }
.model .ac_outer .hisCentBox .model_content .buttons .button_outer:nth-child(1) { margin-right: 20px; }
.model .ac_outer .hisCentBox .model_content .buttons .button_outer:nth-child(2) { margin-left: 20px; }
.model .ac_outer .hisCentBox .model_content .buttons .button_inner { background-color: #85f5fc; border-radius: 25px; width: 112px; height: 32px; }
.model .ac_outer .hisCentBox .model_content .buttons .button_inner a { text-decoration: none; color: unset; }
