/*
Error: Undefined mixin 'range-width'.
        on line 12 of /Users/teresachu/www/kidscool/cmd/../scss/text.scss, in `range-width'
        from line 12 of /Users/teresachu/www/kidscool/cmd/../scss/text.scss

7: 
8: .f_b18 {
9:   font-size: 1.3rem;
10:   color: black;
11: 
12:   @include range-width(450px, 1025px) {
13:     font-size: 1.2rem;
14:   }
15: }
16: 
17: // footer

Backtrace:
/Users/teresachu/www/kidscool/cmd/../scss/text.scss:12:in `range-width'
/Users/teresachu/www/kidscool/cmd/../scss/text.scss:12
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/teresachu/.rvm/gems/ruby-2.5.3/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/teresachu/.rvm/gems/ruby-2.5.3/bin/compass:23:in `load'
/Users/teresachu/.rvm/gems/ruby-2.5.3/bin/compass:23:in `<main>'
/Users/teresachu/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `eval'
/Users/teresachu/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'range-width'.\A         on line 12 of /Users/teresachu/www/kidscool/cmd/../scss/text.scss, in `range-width'\A         from line 12 of /Users/teresachu/www/kidscool/cmd/../scss/text.scss\A \A 7: \A 8: .f_b18 {\A 9:   font-size: 1.3rem;\A 10:   color: black;\A 11: \A 12:   @include range-width(450px, 1025px) {\A 13:     font-size: 1.2rem;\A 14:   }\A 15: }\A 16: \A 17: // footer"; }
