*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.pageColorGreen { color: #4e8f2b; }

.pageColorBlue { color: #237eb1; }

.pageColorPurple { color: #af4dac; }

.pageColorOrange { color: #ff790b; }

.pageColorBrown { color: #996536; }

.pageColorLBlue { color: #52b1e3; }

.pageColorRed { color: #c51c17; }

.bg_LBlue { background-color: #52b1e3; }

.bg_blue { background-color: #129eff; }

.bg_page_green { background-color: #4e8f2b; }

.bg_page_blue { background-color: #237eb1; }

.bg_page_purple { background-color: #af4dac; }

.bg_page_orange { background-color: #ff790b; }

.bg_page_yellow { background-color: #fb9526 !important; }

.bg_page_brown { background-color: #996536; }

.bg_page_LGreen { background-color: #d7e5ce; }

.bg_page_Pink { background-color: #f27b9b; }

.bg_testOrange { background-color: #ff8504; }

.bg_testRed { background-color: #ff2653; }

.bg_testGreen { background-color: #83bf03; }

.bg_testBlue { background-color: #2a9fe9; }

p { padding: 0; margin: 0; }

.w_anok { color: black; font-size: 1.6rem; display: block; text-align: left; padding: 10px 0 10px 85px; }
@media screen and (max-width: 449px) and (min-width: 0) { .w_anok { font-size: 1.2rem; padding: 10px 0 10px 52px; line-height: 25px; } }
.w_anok.nopl { padding: 10px 0 10px 15px; }
@media screen and (max-width: 449px) and (min-width: 0) { .w_anok.nopl { padding: 10px 0 10px 0; } }
.w_anok img { display: inline-block; width: 100%; max-width: 64px; }
@media screen and (max-width: 449px) and (min-width: 0) { .w_anok img { max-width: 48px; } }

.w_an01 { display: inline-block; width: 100%; font-size: 1.2rem; color: #5b5b5c; padding-top: 10px; }

.w_an02 { display: inline-block; width: 100%; font-size: 2rem; color: #7d2300; }

.note_red { display: inline-block; padding: 3px 5px; background-color: red; color: white; font-size: 1rem; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; position: absolute; right: 35px; top: 37px; }
@media screen and (max-width: 449px) and (min-width: 0) { .note_red { position: static; margin-top: 10px; } }

.textLeft { text-align: left; }

.textReft { text-align: right; }

.lineH33 { line-height: 33px; }

.f_b22_b { font-size: 1.6rem; color: black; font-weight: bolder; text-align: left; }

.f_b22 { font-size: 1.6rem; color: black; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .f_b22 { font-size: 1.4rem; } }

.f_b18_s { font-size: 1.3rem; color: black; text-align: left; }
.f_b18_s.f18_red { color: red; }

.f_b18 { font-size: 1.3rem; color: black; }
@media screen and (max-width: 1024px) and (min-width: 450px) { .f_b18 { font-size: 1.2rem; } }

.f_b18_o { font-size: 1.3rem; color: black; background-color: #ff9434; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 3px 5px; }

.f_b13 { font-size: 1rem; line-height: 1.5; color: black; }
@media screen and (max-width: 449px) and (min-width: 0) { .f_b13 { font-size: .8rem; line-height: 1.3; } }

.m_f_b13 { display: inline-block; width: 100%; max-width: 65px; font-size: 1rem; line-height: 25px; color: black; }

.whiteNum { display: inline-block; width: 100%; max-width: 170px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; background-color: white; padding: 10px 15px; text-align: left; margin-right: 30px; }
.whiteNum:before { display: inline-block; content: attr(title); font-size: 1.15rem; color: black; }
.whiteNum:last-child { margin-right: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .whiteNum { padding: 10px 8px; font-size: 1rem; width: auto; max-width: none; margin-right: 5px; }
  .whiteNum:before { font-size: 1rem; } }

.hover_tag { font-size: 1.5rem; color: #959595; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .hover_tag { font-size: 1rem; } }

.f_b30 { display: inline-block; font-size: 2.3rem; font-weight: bolder; }

.helpTitle { display: inline-block; padding: 10px 15px; background-color: #129eff; color: white; font-size: 2.3rem; font-weight: bolder; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .helpTitle { font-size: 1.69rem; } }
.helpTitle:before { display: inline-block; content: '\e902'; color: #b10003; font-size: 3rem; font-family: icon; margin-right: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .helpTitle:before { font-size: 2.2rem; } }

.test-font { display: inline-block; width: 100%; font-size: 2rem; padding-bottom: 10px; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .test-font.in-test-use { font-size: 1.2rem; font-weight: bolder; } }

.test-note { display: inline-block; padding: 10px; font-size: 1.3rem; font-weight: bolder; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: white; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .test-note { padding: 6px 5px; font-size: 1rem; } }

.t-his26 { display: inline-block; width: 100%; color: black; font-size: 2rem; font-weight: bolder; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-his26 { text-align: center; } }

.t-login { display: inline-block; width: 100%; font-size: 1.2rem; color: black; padding-bottom: 10px; }
.t-login.notall { width: 25%; float: left; }
.t-login.change { width: 40%; float: left; text-align: right; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-login.test-t-login { font-size: 1rem; padding-bottom: 5px; } }

.inTitleBoxs { display: inline-block; padding: 10px 15px; background-color: #e5248f; color: white; font-weight: bolder; font-size: 2rem; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .inTitleBoxs { width: 100%; } }
.inTitleBoxs.inBoxs_b { background-color: #0097bf; }

.inTitle { display: inline-block; padding: 10px 15px; color: #e5248f; font-weight: bolder; font-size: 2rem; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .inTitle { width: 100%; text-align: center; } }
.inTitle.inT_b { color: #0097bf; }

.inTitleBoxs2 { display: inline-block; padding: 10px 15px; color: #836c6c; font-weight: bolder; font-size: 1.8rem; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .inTitleBoxs2 { width: 100%; } }

.inTitle2 { display: inline-block; padding: 10px 15px; color: #7c7c7c; font-weight: bolder; font-size: 2rem; text-align: center; }

.t-w-22 { display: inline-block; width: 100%; text-align: left; font-size: 1.84rem; font-weight: bolder; color: white; line-height: 1.5; }

.t-b-22 { display: inline-block; width: 90%; text-align: left; font-size: 1.84rem; font-weight: bolder; color: black; line-height: 1.5; margin: 15px 0; }

.t-b-23 { display: inline-block; width: calc(100% - 120px); text-align: left; font-size: 1.84rem; font-weight: bolder; color: black; line-height: 1.5; margin: 15px 0; }

.t-w-18 { display: inline-block; float: left; text-align: left; font-size: 1.1rem; font-weight: bolder; color: white; line-height: 1.5; }

.t-y-22 { display: inline-block; width: 100%; text-align: left; font-size: 1.84rem; font-weight: bolder; color: #ffc505; }
@media screen and (max-width: 449px) and (min-width: 0) { .t-y-22 { padding-top: 10px; text-align: center; font-size: 1.4rem; } }
