/*
Error: Undefined mixin 'range-width'.
        on line 24 of /Users/Teresa/www/kidscool/cmd/../scss/text.scss, in `range-width'
        from line 24 of /Users/Teresa/www/kidscool/cmd/../scss/text.scss

19: 
20: .f_b18 {
21:   font-size: 1.3rem;
22:   color: black;
23: 
24:   @include range-width(450px, 1025px) {
25:     font-size: 1.2rem;
26:   }
27: }
28: 
29: .f_b18_o {

Backtrace:
/Users/Teresa/www/kidscool/cmd/../scss/text.scss:24:in `range-width'
/Users/Teresa/www/kidscool/cmd/../scss/text.scss:24
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Teresa/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Teresa/.rvm/gems/ruby-2.1.3/bin/compass:22:in `load'
/Users/Teresa/.rvm/gems/ruby-2.1.3/bin/compass:22:in `<main>'
/Users/Teresa/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `eval'
/Users/Teresa/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'range-width'.\A         on line 24 of /Users/Teresa/www/kidscool/cmd/../scss/text.scss, in `range-width'\A         from line 24 of /Users/Teresa/www/kidscool/cmd/../scss/text.scss\A \A 19: \A 20: .f_b18 {\A 21:   font-size: 1.3rem;\A 22:   color: black;\A 23: \A 24:   @include range-width(450px, 1025px) {\A 25:     font-size: 1.2rem;\A 26:   }\A 27: }\A 28: \A 29: .f_b18_o {"; }
