
$color_LGray:rgba(215, 215, 215, 1.00);
$color_Blue:rgba(0, 114, 255, 1.00);
$color_footer: rgba(18, 158, 255, 1.00);
$color_red: rgba(218, 88, 89, 1.00);
$color_LBlue:rgba(154, 216, 250, 1.00);

$page_green: rgba(78, 143, 43, 1.00);
$page_blue: rgba(35, 126, 177, 1.00);
$page_purple: rgba(175, 77, 172, 1.00);
$page_orange: rgba(255, 121, 11, 1.00);
$page_brown: rgba(153, 101, 54, 1.00);
