@import "Ginkgo";
@import "color";


// 知識內文banner
.show-box {
  display: inline-block;
  width: 100%;
  max-width: 660px;
  float: right;
  padding: 20px 10px;
  @include border-radius(15px);

  @include range-width(0, 450px) {
    @include border-radius(0);
    margin-top: 10px;
  }

  &.write {
    max-width: none;
  }
  
  // 小框框的尺寸
  $boxHeight: 180px;
  // 小框框的間隙
  $boxSpace: 10px;
  // 小框框最多的數量
  $total: 20;
  // 小框框手機版時寬度
  $boxMobileWidth: 100px;

  .top {
    display: inline-block;
    width: 100%;

    &.write_top {
      border: 1px solid rgba(208, 208, 208, 1.00);
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
      @include border-radius(15px);
      padding: 20px 20px 0 20px;
    }
    
    .boxs {
      width: 100%;

      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;  
      
      .array {
        display: inline-block;
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        background-color: white;
        @include border-radius(50%);

        &.write_array {
          background-color: rgba(144, 144, 144, 1.00);

          &.icon-arrow-right-thick, &.icon-arrow-left-thick {
            color: white;
          }
        }

        &.icon-arrow-right-thick, &.icon-arrow-left-thick {
          color: rgba(144, 144, 144, 1.00);
        }
      }

      .box-container {
        position: relative;
        display: inline-block;
        height: $boxHeight;
        margin: 0 10px;

        @include range-width(0, 450px) {
          height: 120px !important;
        }

        flex-grow: 1;

        &.writeCentBoxs {
          height: 250px;
        }
        
        .box {
          cursor: pointer;

          display: inline-block;
          height: $boxHeight;

          @include range-width(0, 450px) {
            height: 95px;
          }

          @include border-radius(10px);
          @include transition(left .3s);

          padding: 10px 8px;
          text-align: left;
          color: white;

          &.writeCentBox {
            height: 250px;
          }

          img {
            width: 100%;
            height: $boxHeight - (10px * 2 + 20px * 2 + 4px);

            &.writeImg {
              max-width: 228px;
              height: auto;
            }
          }

          span {
            display: inline-block;
            width: 100%;
            // height: 30px * 2;
            line-height: 1.2;
            margin-top: 6px;
            font-size: 1.4rem;

            &.write_span {
              text-align: center;
              color: black;
            }
          }
          
          &:after {
            position: absolute;
            bottom: 0 - 20px / 2;
            left: calc(50% - 20px / 2);
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: rgba(255, 255, 255, 1);
            @include rotate(-45deg);
          }
        }
      }
    }
    .points {
      display: inline-block;
      width: 100%;
      height: 50px;
      
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &.write_po {
        label {
          background-color: rgba(39, 40, 34, .5);

          &:before {
            background-color: rgba(39, 40, 34, .2);
          }
        }
      }
      
      label {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 255, 0.2);
        cursor: pointer;
        @include border-radius(50%);

        + label {
          margin-left: 8px;
        }

        &:before {
          content: '';
          position: absolute;
          left: 2px;
          top: 2px;
          display: inline-block;
          right: 2px;
          bottom: 2px;
          background-color: white;
          @include border-radius(50%);
          @include transition(background-color .3s);
        }
      }
    }
  }
  .panels {
    display: inline-block;
    width: 100%;

    .panel {
      display: none;
      width: 100%;
      background-color: white;
      text-align: left;
      padding: 12px;
      @include border-radius(5px);

      b {
        display: inline-block;
        width: 100%;
        font-size: 1.6rem;
        padding-bottom: 20px;
      }
    }
  }
  @include range-width(0, 450px) {
    .top {
      .boxs {
        .array {
          display: none;
        }
        .box-container {
          height: $boxHeight + 50px;
          margin: 0;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          overflow-y: none;
          overflow-x: scroll;
          width: 100%;

          .box {
            position: relative;
            width: $boxMobileWidth;
            flex-shrink: 0;
            img {
              display: none;
            }
          }
        }
      }
      .points {
        display: none;
      }
    }
    .panels {
      margin-top: 20px;
    }

    @for $i from 1 through $total {
      &[data-index='#{$i}'] {
        .top {
          .boxs {
            .box-container {
              .box {
                &:nth-child(#{$i}) {
                  background-color: white;

                  span {
                    color: rgba(79, 143, 42, 1.00);

                    &.span_b {
                      color: $page_blue !important;
                    }

                    &.span_br {
                      color: $page_brown !important;
                    }

                    &.span_o {
                      color: $page_orange !important;
                    }
                  }
                  &:after {
                    content: '';
                  }
                }
              }
            }
          }
        }
        .panels {
          .panel {
            &:nth-child(#{$i}) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  @include range-width(450px) {
    .top {
      .boxs {
        .box-container {
          overflow: hidden;

          .box {
            position: absolute;
            top: 0;
          }
        }
      }
    }
    @for $i from 1 through $total {
      &[data-unit='#{$i}'] {
        .top {
          .boxs {
            .box-container {
              .box {
                width: calc((100% - #{(($i - 1) * $boxSpace)}) / #{$i});
              }
            }
          }
        }
        @for $j from 1 through $total {
          &[data-page='#{$j}'] {
            .top {
              .boxs {
                .box-container {
                  .box {
                    @for $k from 1 through $total {
                      &:nth-child(#{$k}) {
                        left: calc(((100% - #{(($i - 1) * $boxSpace)}) / #{$i} + #{$boxSpace}) * #{($k - (($j - 1) * $i + 1))});
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &[data-index='#{$i}'] {
        .top {
          .boxs {
            .box-container {
              .box {
                &:nth-child(#{$i}) {
                  background-color: white;

                  &.writeCentBox {
                    background-color: rgba(251, 149, 38, 1.00);
                  }
                  span {
                    color: rgba(79, 143, 42, 1.00);

                    &.span_o {
                      color: $page_orange !important;
                    }

                    &.write_span {
                      color: black;
                    }

                    &.span_b {
                      color: $page_blue !important;
                    }

                    &.span_br {
                      color: $page_brown !important;
                    }
                  }
                }
              }
            }
          }
        }
        .panels {
          .panel {
            &:nth-child(#{$i}) {
              display: inline-block;
            }
          }
        }
      }
      &[data-page='#{$i}'] {
        .top {
          .points {
            label {
              &:nth-child(#{$i}):before {
                background-color: rgba(43, 43, 44, 1.00);
              }
            }

            &.write_po {
              label {
                &:nth-child(#{$i}):before {
                  background-color: rgba(200, 12, 14, 1.00);
                }
              }
            }
          }
        }
      }
    }
  }

}


// 圖繞文
.pageContainer {
  display: inline-block;
  // width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.5;
  *zoom: 1;

  @include range-width(0, 450px) {
    width: 100%;

    *zoom: none;
    &:before, &:after {
      display: none !important;
    }
    &:after {
      clear: none !important;
    }
  }
 
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}


// 桌機左邊選單・下拉
.block-l-menuBox {
  display: inline-block;
  width: calc(100% - 15px);
  background-color: white;
  @include border-radius(3px);
  height: 100%;
  @include transition(left .3s, right .3s);
  @include clearfix();
  text-align: left;
  padding: 0 27px 0 0;
  float: left;

  span {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);

    &:after {
      display: inline-block;
      content: '\e910';
      font-family: 'icon';
      color: black;
      font-size: .9rem;
      float: right;
    }
  }

  > span, > a, > div > a, > div > div > a, > div > span {
    display: inline-block;
    width: 100%;
    padding: 0;
    color: black;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);

    &.s_menublue {
      color: black;
      border-left: 2px solid yellow;
    }
  }

  > span {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  > span, > a {
    color: black;
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 50px;
    position: relative;

    &:after {
      display: inline-block;
      width: 100%;
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      border-bottom: 1px dotted rgba(162, 162, 163, 1.00);
    }

    + div.m-smenu {
      display: none;
    }
  }

  > span.s {
    background-color: rgba(255, 245, 151, 1.00);
    @include border-radius(30px);
    
    // &:after {
    //   display: inline-block;
    //   content: '\e90b';
    //   font-family: 'icon';
    //   color: black;
    //   font-size: .9rem;
    //   float: right;
    // }

    + div {
      display: inline-block;
    }
  }

  // > div > span.s {
  //   border-bottom: 1px dotted rgba(186, 186, 186, 1.00);
  //   background-color: rgba(216, 216, 216, 1.00);

  //   &:after {
  //     // @include rotate(90deg);
  //     color: black;
  //   }

  //   + div {
  //     display: none;
  //   }
  // }

  .m-smenu {
    margin-top: 20px;
    width: 100%;

    > a {
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      color: black;
      text-decoration: none;
      cursor: pointer;
      @include transition(all .3s);
      font-size: 1.5rem;
      background-color: rgba(231, 231, 231, 1.00);
      @include border-radius(20px);
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover, &:active {
        color: white;
        background-color: rgba(55, 52, 58, 1.00);
      }

      &.l-menu-active {
        color: white;
        background-color: rgba(55, 52, 58, 1.00);
      }
    }
  }
}

// 桌機左邊選單
.knowBoxsLeft {
  display: inline-block;
  width: 100%;
  // max-width: 150px;
  float: left;
  @include clearfix();

  &.kShare_L {
    max-width: 150px;

    @include range-width(0, 450px) {
      width: 100%;
      max-width: none;
    }
  }

  @include range-width(0, 450px) {
    max-width: none;
    padding: 15px;
    background-color: rgba(215, 229, 206, 1.00);

    &.kn02 {
      background-color: rgba(210, 228, 239, 1.00) !important;
    }

    &.kn03 {
      background-color: rgba(239, 218, 238, 1.00) !important;
    }

    &.kn04 {
      background-color: rgba(254, 227, 206, 1.00) !important;
    }

    &.kn05 {
      background-color: rgba(235, 223, 215, 1.00) !important;
    }
  }

  &.k_nobg {
    @include range-width(0, 450px) {
      background-color: transparent;
    }
  }

  a {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
    text-decoration: underline;
    cursor: pointer;
    @include transition(all .3s);

    &:before {
      display: inline-block;
      content: '♦';
      margin-right: 5px;
    }

    @include range-width(0, 450px) {
      font-size: 1.15rem;
      width: calc(100% / 4);
      float: left;
      padding: 0;
      text-decoration: none;

      &:before {
        display: none;
      }

      &:after {
        display: inline-block;
        content: '|';
        margin-left: 5px;
      }
    }
    
    &.li_green {
      color: $page_green;

      @include range-width(0, 450px) {
        color: $font_grey;
      }
    }

    &.li_green_s {
      background-color: $page_green;
      color: white;
      text-decoration: none;
      @include border-radius(30px);

      @include range-width(0, 450px) {
        background-color: transparent;
        color: $page_green;
        font-weight: bolder;
      }
    }

    &.li_blue {
      color: $page_blue;

      @include range-width(0, 450px) {
        color: $font_grey;
      }
    }

    &.li_blue_s {
      background-color: $page_blue;
      color: white;
      text-decoration: none;
      @include border-radius(30px);

      @include range-width(0, 450px) {
        background-color: transparent;
        color: $page_blue;
        font-weight: bolder;
      }
    }

    &.li_purple {
      color: $page_purple;

      @include range-width(0, 450px) {
        color: $font_grey;
      }
    }

    &.li_purple_s {
      background-color: $page_purple;
      color: white;
      text-decoration: none;
      @include border-radius(30px);

      @include range-width(0, 450px) {
        background-color: transparent;
        color: $page_purple;
        font-weight: bolder;
      }
    }

    &.li_orange {
      color: $page_orange;

      @include range-width(0, 450px) {
        color: $font_grey;
      }
    }

    &.li_orange_s {
      background-color: $page_orange;
      color: white;
      text-decoration: none;
      @include border-radius(30px);

      @include range-width(0, 450px) {
        background-color: transparent;
        color: $page_orange;
        font-weight: bolder;
      }
    }

    &.li_brown {
      color: $page_brown;

      @include range-width(0, 450px) {
        color: $font_grey;
      }
    }

    &.li_brown_s {
      background-color: $page_brown;
      color: white;
      text-decoration: none;
      @include border-radius(30px);

      @include range-width(0, 450px) {
        background-color: transparent;
        color: $page_brown;
        font-weight: bolder;
      }
    }
  }

  .testLboxs {
    display: inline-block;
    width: 100%;
    padding-right: 35px;

    @include range-width(0, 450px) {
      width: calc(100% / 4 - 15px * 3 / 4);
      margin-right: 15px;
      float: left;
      padding-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  
    .test {
      display: inline-block;
      width: 100%;
      text-align: left;
      font-size: 1.6rem;
      font-weight: bolder;
      margin-bottom: 10px;
      padding: 10px;
      color: white;
      cursor: pointer;
      @include transition(all .3s);
      @include border-radius(15px);
      position: relative;

      // 0616
      text-decoration: none;
      &:before {
        display: none;
      }

      @include range-width(0, 450px) {
        font-size: 1rem;
        padding: 3px 5px;
      }
      
      &:after {
        // 這是箭頭
        display: none;
      }

      &.show {

        @include range-width(0, 450px) {
          &:after {
            display: inline-block;
            content: '';
            position: absolute;
            bottom: -23px;
            right: calc(50% - 20px / 2) !important;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 10px 0 10px !important;
          }
        }

        &.test_orange {
          text-decoration: none;
          background: rgba(255, 132, 3, 1.00); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(255, 132, 3, 1.00) 0%, rgba(255, 132, 3, 1.00) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(255, 132, 3, 1.00) 0%,rgba(255, 132, 3, 1.00) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(255, 132, 3, 1.00) 0%,rgba(255, 132, 3, 1.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc579', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
        }

        &.test_red {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f23a72+0,bb194e+100 */
          background: rgba(255, 39, 84, 1.00); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(255, 39, 84, 1.00) 0%, rgba(255, 39, 84, 1.00) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(255, 39, 84, 1.00) 0%,rgba(255, 39, 84, 1.00) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(255, 39, 84, 1.00) 0%,rgba(255, 39, 84, 1.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23a72', endColorstr='#bb194e',GradientType=0 ); /* IE6-9 */
        }

        &.test_green {
          background: rgba(131, 191, 3, 1.00); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(131, 191, 3, 1.00) 0%, rgba(131, 191, 3, 1.00) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(131, 191, 3, 1.00) 0%,rgba(131, 191, 3, 1.00) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(131, 191, 3, 1.00) 0%,rgba(131, 191, 3, 1.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c102', endColorstr='#709e00',GradientType=0 ); /* IE6-9 */
        }

        &.test_blue {
          background: rgba(42, 159, 233, 1.00); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(42, 159, 233, 1.00) 0%, rgba(42, 159, 233, 1.00) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(42, 159, 233, 1.00) 0%,rgba(42, 159, 233, 1.00) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(42, 159, 233, 1.00) 0%,rgba(42, 159, 233, 1.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab8f2', endColorstr='#299ce6',GradientType=0 ); /* IE6-9 */
        }

        &:after {
          display: inline-block;
          content: '';
          position: absolute;
          right: -30px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 10px 20px;
        }
      }

      &.test_orange {
        background: rgb(255,197,121); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,197,121,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,197,121,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,197,121,1) 0%,rgba(251,157,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc579', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */


        &:after {
          border-color: transparent transparent transparent rgba(255, 132, 3, 1.00);
          @include range-width(0, 450px) {
            border-color: rgba(255, 132, 3, 1.00) transparent transparent transparent;
          }
        }
      }

      &.test_red {
        background: rgb(242,58,114); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(242,58,114,1) 0%, rgba(187,25,78,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(242,58,114,1) 0%,rgba(187,25,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(242,58,114,1) 0%,rgba(187,25,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23a72', endColorstr='#bb194e',GradientType=0 ); /* IE6-9 */

        &:after {
          border-color: transparent transparent transparent rgba(255, 39, 84, 1.00);
          @include range-width(0, 450px) {
            border-color: rgba(255, 39, 84, 1.00) transparent transparent transparent;
          }
        }
      }

      &.test_green {
        background: rgb(136,193,2); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(136,193,2,1) 0%, rgba(112,158,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(136,193,2,1) 0%,rgba(112,158,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(136,193,2,1) 0%,rgba(112,158,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c102', endColorstr='#709e00',GradientType=0 ); /* IE6-9 */

        &:after {
          border-color: transparent transparent transparent rgba(131, 191, 3, 1.00);
          @include range-width(0, 450px) {
            border-color: rgba(131, 191, 3, 1.00) transparent transparent transparent;
          }
        }
      }

      &.test_blue {
        background: rgb(58,184,242); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(58,184,242,1) 0%, rgba(41,156,230,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(58,184,242,1) 0%,rgba(41,156,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(58,184,242,1) 0%,rgba(41,156,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab8f2', endColorstr='#299ce6',GradientType=0 ); /* IE6-9 */

        &:after {
          border-color: transparent transparent transparent rgba(42, 159, 233, 1.00);
          @include range-width(0, 450px) {
            border-color: rgba(42, 159, 233, 1.00) transparent transparent transparent;
          }
        }
      }
    }
  }
}
 

.knowBoxsRight {
  width: 100%;
  padding-top: 20px;
  display: inline-block;
  float: left;
  // 控制按鈕分頁，設定預設值是沒有顯示
  display: none;

  &.kShare_R {
    width: calc(100% - 150px);
    padding-top: 0;

    @include range-width(0, 450px) {
      width: 100%;
    }
  }

  &.knowBoxsRight_show {
    display: inline-block;

    @include range-width(0, 450px) {
      width: 100%;
    }
  }

  .knowCentBoxs {
    display: inline-block;
    width: 100%;

    .knowCent {
      display: inline-block;
      width: calc(100% / 4 - 40px * 3 / 4);
      float: left;
      margin-right: 40px;

      // 20210531 隱藏
      // &:nth-child(4n+4) {
      //   margin-right: 0;
      // }
      //d
      height: 300px;
      background-color: rgba(255, 0, 0, 0.2); 
    }
  }
}


// 光箱
#myModel {
  // display: inline-block;
  display: none;

  &.showModel {
    display: flex;
  }
  
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 33, 33, .8);

  .ac_outer {
    width: 100%;
  
    .model_boxs, .hisBoxs {
      display: none;

      &.l_show {
        display: inline-block;
      }

      &.safeBg {
        max-width: 500px;
        background-color: white;
        border: 10px solid rgba(255, 136, 51, 1.00);
      }

      width: 100%;
      max-width: 700px;
      @include clearfix();
      display: inline-block;
      width: 100%;
      @include border-radius(10px);
      border: 2px solid rgba(143, 116, 208, 1.00);
      background-color: rgba(227, 214, 254, 1.00);
      padding: 10px;

      .t-close {
        display: inline-block;
        cursor: pointer;
        float: right;
      }
    }
  }
}


// 互動學員  banner1
.banner1 {
  display: inline-block;
  width: 100%;
  // max-width: 600px;
  
  .top, .bottom {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .top {
    > * {
      display: inline-block;
    }
    .left, .right {
      width: 36px;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      flex-shrink: 0;
    }
    .boxs {
      flex-grow: 1;
      position: relative;
      margin: 0 10px;
    }
  }

  .bottom {
    width: 100%;
    margin-top: 20px;
    > * {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: rgba(225, 225, 225, 1.00);
      border: 1px solid rgba(176, 176, 176, 1.00);
      margin: 0 4px;
      cursor: pointer;
      @include transition(background-color .3s);
      @include border-radius(50%);
    }
  }

  $boxHeigth: 400px; // 小盒子高
  $boxHeigth2: 140px; // 小盒子高
  $boxsSpaceH: 20px; // 左右間距
  $totalBox: 99; // 小盒子 最多數量

  $boxMobileHeigth: 400px; // 手機版 小盒子 高
  $boxMobileHeigth2: 265px; // 手機版 小盒子 高
  $boxsMobileSpaceV: 10px; // 手機版 小盒子 上下間距
  $boxsMobileSpaceH: 10px; // 手機版 小盒子 左右間距
  
  .boxs {
    overflow: hidden;
    height: $boxHeigth;
    @include range-width(0, 450px) {
      height: $boxMobileHeigth;
    };

    &.numTwo_s {
      height: $boxHeigth2;
      @include range-width(0, 450px) {
        height: $boxMobileHeigth2;
      };
    }
  }

  .box {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: calc(100% / 3 - #{$boxsSpaceH * 2 / 3});
    height: $boxHeigth;
    @include range-width(0, 450px) {
      height: $boxMobileHeigth;
    };
    text-decoration: none;
    @include transition(left .3s);

    &.numTwo {
      height: $boxHeigth2;
      @include range-width(0, 450px) {
        height: $boxMobileHeigth2;
      };
    }

    img {
      display: inline-block;
      width: 100%;
      max-width: 252px;
      padding: 10px;
      border: 1px solid rgba(220, 220, 220, 1.00);
      @include border-radius(15px);

      &.in_noLine {
        border: 0;
        padding: 0;
        @include border-radius(0);
      }
    }
    
    @include range-width(0, 450px) {
      .cover {
        display: none;
      }

      img {
        &.in_noLine {
          max-width: none;
        }
      }
    }
    @include range-width(450px) {
      .cover {
        position: absolute;
        left: 10px;
        top: 10px;
        display: inline-block;
        width:calc(100% - 20px);
        height: calc(100% - 75px);
        background-color: rgba(0, 0, 0, 0.5);
        
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 10px;

        &.c_numTwo2 {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        
        button {
          display: inline-block;
          width: 50%;
          font-size: 1.2rem;
          padding: 10px;
          background-color: white;
          @include border-radius(15px);

          + button {
            margin-top: 20px;
          }
        }

        a {
          display: inline-block;
          width: 90%;
          line-height: 1.5;
          font-size: 1.2rem;
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
        @include opacity(0);
        @include transition(opacity .3s);
      }

      &:hover {
        .cover {
          @include opacity(1);
        }
      }
    }
  }

  @for $i from 1 through ceil($totalBox / 3) {
    &[p='#{$i}'] {
      @for $j from 1 through $totalBox {
        .box:nth-child(#{$j}) {
          left: calc((100% * #{floor(($j - 1) / 3) - ($i - 1)}) + (#{($j - 1) % 3} * ((100% / 3 - #{$boxsSpaceH * 2 / 3}) + #{$boxsSpaceH})));
        }
      }
      .bottom > *:nth-child(#{$i}) {
        background-color: rgba(255, 67, 3, 1.00);
        border: 1px solid rgba(198, 56, 9, 1.00);
      }

      .bottom.blue > *:nth-child(#{$i}) {
        background-color: rgba(13, 89, 155, 1.00);
        border: 1px solid rgba(13, 72, 121, 1.00);
      }
    }
  }

  @include range-width(0, 450px) {
    .top {
      .left, .right {
        display: none;
      }
      .boxs {
        margin: 0;
      }
    }
    .bottom {
      display: none;
    }
    .boxs {
      overflow-x: scroll;
      
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0 $boxsMobileSpaceV;
    }
    .box {
      position: relative;
      left: auto !important;
      top: auto !important;
      width: 100%;
      height: calc(100% - #{$boxsMobileSpaceV * 2});
      flex-shrink: 0;
      + .box {
        margin-left: 10px;
      }
    }
  }
}

// 互動學員 banner2
.inOutBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(15px);
  padding: 20px 10px;
  border: 1px solid rgba(208, 208, 208, 1.00);
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  @include clearfix();


  .banner2 {
    display: inline-block;
    width: 100%;
    // max-width: 600px;
    
    .top, .bottom {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .top {
      > * {
        display: inline-block;
      }
      .left, .right {
        width: 36px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        flex-shrink: 0;
      }
      .boxs {
        flex-grow: 1;
        position: relative;
        margin: 0 10px;
      }
    }

    .bottom {
      width: 100%;
      $height: 32px;
      margin-top: 10px;
      * {
        display: inline-block;
      }
      .first, .prev, .next, .last {
        width: $height;
        height: $height;
        line-height: $height;
        cursor: pointer;
        color: rgba(220, 14, 126, 1.00);
        // background-color: rgba(0, 0, 255, 0.2);
        @include border-radius(4px);
        margin: 0 2px;
        font-size: 1.5rem;
      }

      .center {
        $h: 28px;
        width: 72px;
        height: $h;
        line-height: $h;
        margin-top: ($height - $h) / 2;
        
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        margin: 0 8px;
        @include border-radius(4px);
        overflow: hidden;
        
        * {
          display: inline-block;
        }
        input {
          flex-shrink: 0;
          width: calc(50% - 10px / 2 + 5px);
          height: $h - 2px;
          border: 0;
          outline: 0;
          text-align: center;
        }
        i {
          width: 10px;
          height: $h;
          line-height: $h;
          font-style: normal;
        }
        span {
          flex-shrink: 0;
          width: calc(50% - 10px / 2 - 5px);
        }
      }
    }

    $boxHeigth: 140px; // 小盒子高
    $boxsSpaceV: 20px; // 上下間距
    $boxsSpaceH: 20px; // 左右間距
    $totalBox: 20; // 小盒子 最多數量

    $boxsMobileSpaceV: 35px; // 手機版 小盒子 上下間距
    $boxsMobileSpaceH: 10px; // 手機版 小盒子 左右間距
    

    .boxs {
      height: $boxHeigth * 2 + $boxsSpaceV;
      overflow: hidden;
    }
    .box {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: calc(100% / 3 - #{$boxsSpaceH * 2 / 3});
      height: $boxHeigth;
      @include transition(left .3s);
      text-decoration: none;
      
      @include range-width(0, 450px) {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        img {
          display: inline-block;
          width: 100%;
          max-width: none;
          flex-grow: 1;
        }
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          color: white;
        }
      }
      @include range-width(450px) {
        img {
          display: inline-block;
          width: 100%;
          max-width: 255px;
        }

        span, &:after {
          cursor: pointer;
          display: inline-block;
          text-align: center;
          font-size: 1.2rem;
          position: absolute;
          left: 0;
          display: inline-block;
          @include opacity(0);
          @include transition(opacity .3s);
        }
        span {
          width: 100%;
          padding: 0 20px;
          top: 50%;
          color: white;
          z-index: 3;
          @include transform(translate(0, -50%));
        }
        &:after {
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          content: '';
          z-index: 2;
        }

        &:hover {
          &:after, span {
            @include opacity(1);
          }
        }
      };
    }

    @for $i from 1 through ceil($totalBox / 6) {
      &[p='#{$i}'] {
        @for $j from 1 through $totalBox {
          .box:nth-child(#{$j}) {
            left: calc((100% * #{floor(($j - 1) / 6) - ($i - 1)}) + (#{($j - 1) % 3} * ((100% / 3 - #{$boxsSpaceH * 2 / 3}) + #{$boxsSpaceH})));
            @if ($j - 1) % 6 < 3 {
              top: 0;
            } @else {
              top: $boxHeigth + $boxsSpaceV;
            }
          }
        }
      }
    }

    @include range-width(0, 450px) {
      .top {
        .left, .right {
          display: none;
        }
        .boxs {
          margin: 0;
        }
      }
      .bottom {
        display: none;
      }
      .boxs {
        overflow-x: scroll;
        
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px;
      }
      .box {
        position: relative;
        left: auto !important;
        top: auto !important;
        width: 100%;
        height: calc(100% - #{$boxsMobileSpaceV * 2});
        flex-shrink: 0;

        + .box {
          margin-left: 10px;
        }

        span {
          margin-top: 10px;
          color: black;
          padding: 10px;
          border: 1px solid rgba(224, 0, 116, 1.00);
          @include border-radius(20px);
        }
      }
    }
  }
}

// 互動學員 banner3
.banner3 {
  display: inline-block;
  width: 100%;

  .years-month {
    display: inline-flex;
    width: 100%;
    height: 40px;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(123, 123, 123, 1.00);

    @include border-radius(5px);
    padding: 0 10px;

    .years {
      flex-shrink: 0;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      color: white;
      font-size: 1.5rem;
      
      label {
        display: inline-block;
        width: 24px;
        height: 28px;
        line-height: 28px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
      }
      span {
        display: inline-block;
        width: 56px;
        height: 28px;
        line-height: 28px;
      }
    }

    .months {
      flex-grow: 1;
      margin-left: 10px;
      
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      label {
        display: inline-block;
        width: calc(100% / 12 - 6px * 11 / 12);
        height: 24px;
        line-height: 24px;
        background-color: white;
        cursor: pointer;
        @include border-radius(4px);

        + label {
          margin-left: 6px;
        }
        &:before {
          font-size: 14px;
        }
        &:after {
          content: '月';
          font-size: 12px;
          display: inline-block;
          margin-top: 1px;
          @include opacity(.75);
        }
        @for $i from 1 through 12 {
          &:nth-child(#{$i}):before {
            content: '#{$i}';
          }
        }
      }
    }

    @include range-width(0, 450px) {
      flex-direction: column;
      height: auto;
      padding: 8px;
      width: calc(100% - 8px * 2);
      margin: 0 8px;

      .months {
        width: 100%;
        margin-left: 0;
        margin-top: 4px;
        flex-wrap: wrap;

        label {
          flex-shrink: 0;
          width: calc(100% / 6 - 6px * 5 / 6);
          &:nth-child(7) {
            margin-left: 0;
          }
          &:nth-child(n + 7) {
            margin-top: 6px;
          }
        }
      }
    };
  }

  @for $i from 1 through 12 {
    &[m='#{$i}'] {
      .years-month {
        .months {
          label:nth-child(#{$i}) {
            color: white;
            background-color: rgba(32, 133, 204, 1.00);
          }
        }
      }
    }
  }
  
  .top, .bottom {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .top {
    margin-top: 20px;
    > * {
      display: inline-block;
    }
    .left, .right {
      width: 36px;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      flex-shrink: 0;
    }
    .boxs {
      flex-grow: 1;
      position: relative;
      margin: 0 10px;
    }
  }

  .bottom {
    width: 100%;
    $height: 32px;
    margin-top: 10px;
    * {
      display: inline-block;
    }
    .first, .prev, .next, .last {
      width: $height;
      height: $height;
      line-height: $height;
      cursor: pointer;
      color: rgba(131, 131, 131, 1.00);
      font-size: 1.5rem;
      margin: 0 2px;
    }

    .center {
      $h: 28px;
      width: 72px;
      height: $h;
      line-height: $h;
      margin-top: ($height - $h) / 2;
      
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      
      margin: 0 8px;
      @include border-radius(4px);
      overflow: hidden;
      
      * {
        display: inline-block;
      }
      input {
        flex-shrink: 0;
        width: calc(50% - 10px / 2 + 5px);
        height: $h - 2px;
        border: 0;
        outline: 0;
        text-align: center;
      }
      i {
        width: 10px;
        height: $h;
        line-height: $h;
        font-style: normal;
      }
      span {
        flex-shrink: 0;
        width: calc(50% - 10px / 2 - 5px);
      }
    }
  }

  $boxHeigth: 140px; // 小盒子高
  $boxsSpaceV: 20px; // 上下間距
  $boxsSpaceH: 20px; // 左右間距
  $totalBox: 20; // 小盒子 最多數量

  $boxsMobileSpaceV: 35px; // 手機版 小盒子 上下間距
  $boxsMobileSpaceH: 10px; // 手機版 小盒子 左右間距
  
  .boxs {
    height: $boxHeigth * 2 + $boxsSpaceV;
    overflow: hidden;
  }
  .box {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: calc(100% / 3 - #{$boxsSpaceH * 2 / 3});
    height: $boxHeigth;
    @include transition(left .3s);
    text-decoration: none;
    border: 1px solid rgba(255, 0, 0, .3);
    
    @include range-width(0, 450px) {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
      img {
        display: inline-block;
        width: 100%;
        flex-grow: 1;
        background-color: rgba(0, 128, 0, 0.2);
      }
      span {
        display: inline-block;
        width: 100%;
      }
    }
    @include range-width(450px) {
      img {
        display: inline-block;
        width: 100%;
        max-width: 255px;
      }

      span, &:after {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        display: inline-block;
        @include opacity(0);
        @include transition(opacity .3s);
      }
      span {
        width: 100%;
        padding: 0 20px;
        top: 50%;
        color: white;
        z-index: 3;
        @include transform(translate(0, -50%));
      }
      &:after {
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 2;
      }

      &:hover {
        &:after, span {
          @include opacity(1);
        }
      }
    };
  }

  @for $i from 1 through ceil($totalBox / 6) {
    &[p='#{$i}'] {
      @for $j from 1 through $totalBox {
        .box:nth-child(#{$j}) {
          left: calc((100% * #{floor(($j - 1) / 6) - ($i - 1)}) + (#{($j - 1) % 3} * ((100% / 3 - #{$boxsSpaceH * 2 / 3}) + #{$boxsSpaceH})));
          @if ($j - 1) % 6 < 3 {
            top: 0;
          } @else {
            top: $boxHeigth + $boxsSpaceV;
          }
        }
      }
    }
  }

  @include range-width(0, 450px) {
    .top {
      .left, .right {
        display: none;
      }
      .boxs {
        margin: 0;
      }
    }
    .bottom {
      display: none;
    }
    .boxs {
      overflow-x: scroll;
      
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0 10px;
    }
    .box {
      position: relative;
      left: auto !important;
      top: auto !important;
      width: 100%;
      height: calc(100% - #{$boxsMobileSpaceV * 2});
      flex-shrink: 0;

      + .box {
        margin-left: 10px;
      }

      span {
        margin-top: 10px;
        color: black;
        padding: 10px;
        font-size: 1.2rem;
      }
    }
  }

  &:after {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    width: 100%;
    @include border-radius(5px);
  }

  &[empty] {
    .top, .bottom {
      display: none;
    }
    &:after {
      content: '讀取中，請稍候…';
      background-color: rgba(204, 204, 204, 1.00);
    }
    &:not([empty='']) {
      &:after {
        content: attr(empty);
        color: white;
        background-color: rgba(255, 59, 48, 1);
      } 
    }
  }
}

// 每週互動
.weekBoxs {
  display: inline-block;
  width: 100%;
  background-color: rgba(254, 245, 228, 1.00);

  .weekMoBox {
    display: inline-block;
    width: 100%;
    background-color: rgba(242, 123, 155, 1.00);
    padding: 5px;

    .left, .right {
      display: inline-block;
      width: 36px;
      float: left;
    }

    .moBox {
      display: inline-block;
      width: calc(100% - 46px * 2);
      padding: 0 10px;
      @include clearfix();
      float: left;

      @include range-width(0, 450px) {
        padding: 7px 0 0 0;
        width: calc(100% - 36px * 2);
      }
      
      .mo {
        display: inline-block;
        width: calc(100% / 12 - 10px * 11 / 12);
        background-color: rgba(255, 202, 202, 1.00);
        float: left;
        @include border-radius(10px);
        margin-right: 10px;

        @include range-width(0, 450px) {
          width: calc(100% / 6 - 5px * 5 / 6);
          margin-right: 5px;

          &:nth-child(6n + 6) {
            margin-right: 0;
          }

          &:nth-child(n + 7) {
            display: none;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &.future {
          background-color: rgba(204, 204, 204, 1.00);

          .moyear {
            color: rgba(122, 122, 123, 1.00);
          }

          .monub {
            color: rgba(122, 122, 123, 1.00);
          }
        }

        &.now {
          background-color: rgba(195, 0, 0, 1.00);

          .moyear {
            color: white;
          }

          .monub {
            color: white;
          }
        }
        .moyear {
          display: inline-block;
          width: 100%;
          font-size: 1.2rem;
          color: rgba(168, 105, 106, 1.00);
          font-weight: bolder;

          @include range-width(0, 450px) {
            font-size: 1rem;
          }
        }

        .monub {
          display: inline-block;
          width: 100%;
          font-size: 2rem;
          color: rgba(255, 89, 132, 1.00);
          font-weight: bolder;
          position: relative;
          text-align: left;
          padding-left: 6px;

          @include range-width(0, 450px) {
            font-size: 1.4rem;
          }

          &:after {
            display: inline-block;
            content: '月';
            font-size: 1.2rem;
            position: absolute;
            bottom: 4px;

            @include range-width(0, 450px) {
              font-size: 1rem;
              bottom: 2px;
            }
          }
        }
      }
      @include range-width(0, 450px) {
        &[n2] {
          .mo {
            display: none;
            &:nth-child(n + 7) {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .weekCentBox {
    display: inline-block;
    width: 100%;

    .weekCent {
      display: none;
      width: 100%;
      border-bottom: 1px dotted rgba(122, 122, 123, .5);

      &.show {
        display: inline-block;
      }
      .weekContent {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        @include clearfix();

        .wLBox {
          display: inline-block;
          width: calc(100% - 250px);
          float: left;

          @include range-width(0, 450px) {
            width: 100%;
          }

          .w_title {
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
            position: relative;

            .w_clock {
              display: inline-block;
              width: 100%;
              max-width: 54px;
              position: absolute;
              left: 0;
              top: 0;
            }

            .w_anTitle {
              display: inline-block;
              width: 95%;
              margin-top: 13px;
              float: right;
              color: white;
              font-size: 2rem;
              font-weight: bolder;
              padding: 7px 0 7px 37px;
              text-align: left;
              background-color: rgba(64, 159, 164, 1.00);
              -webkit-border-top-right-radius: 30px;
              -webkit-border-bottom-right-radius: 30px;
              -moz-border-radius-topright: 30px;
              -moz-border-radius-bottomright: 30px;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;

              @include range-width(0, 450px) {
                font-size: 1.6rem;
                padding: 7px 0 7px 43px;
              }

              .w_anTime {
                display: inline-block;
                background-color: white;
                @include border-radius(20px);
                color: rgba(64, 159, 164, 1.00);
                font-size: 1.8rem;
                padding: 3px 15px;

                @include range-width(0, 450px) {
                  font-size: 1.2rem;
                  padding: 3px 10px;
                }
              }
            }
          }

          .w_answer {
            display: inline-block;
            width: 100%;
            background-color: rgba(172, 239, 223, 1.00);
            @include border-radius(15px);
            padding: 10px 15px;

            .w_select {
              position: relative;
              display: inline-block;
              width: 100%;
              font-size: 1.2rem;
              // height: 50px;
              line-height: 50px;
              text-align: left;

              @include range-width(0, 450px) {
                line-height: 45px;
              }
              span {
                position: relative;
                z-index: 2;
                &:before {
                  content: '('
                }
                &:after {
                  content: ')'
                }
              }
              &:before {
                content: '';
                position: absolute;
                z-index: 1;
                left: 0;
                top: 5px;
                display: inline-block;
                width: 0;
                height: calc(100% - 5px * 2);
                background-color: white;
              }
              @for $i from 1 through 100 {
                &[p='#{$i}'] {
                  &:before {
                    width: $i * 1%;
                  }
                  span {
                    &:after {
                      content: ' #{$i}%)'
                    }
                  }
                }
              }
            }

            .w_q {
              display: inline-block;
              width: 100%;
              font-size: 1.6rem;
              color: black;
              text-align: left;
              position: relative;
              padding: 0 0 0 50px;
              line-height: 32px;

              .icon_q {
                display: inline-block;
                width: 100%;
                max-width: 40px;
                position: absolute;
                left: 0;
              }
            }
          }
        }

        .wRBox {
          display: inline-block;
          width: 100%;
          max-width: 250px;
          float: left;
          margin-top: 75px;

          @include range-width(0, 450px) {
            display: none;
          }
        }
      }
    }
    
  }
}










