@import "Ginkgo";
@import "color";

// video中間盒子
.videoCentBoxs {
    .link_video { 
        .game_pic {
            img {
                height: 100%;
                max-height: 325px;
            }
        }
    }

    .iModalTemplate {
	display: none;
    }
}
