@import "Ginkgo";
@import "color";


input, textarea {
  border:0 none;
  outline: 0;
  background-color: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:black;
    font-size: 1.6rem;
    display: block;
    text-align: left;
    padding: 10px 0 10px 50px;

    @include range-width(0, 450px) {
      font-size: 1.2rem;
    }
}

input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    // margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/cbx-off.png) no-repeat;
    cursor:pointer;
    margin-right: 10px;
}

input[type="radio"]:checked + label span {
    background:url(../img/cbx-on.png) no-repeat;
}

label {
  padding: 0;
  cursor: pointer;

  &.checkbox {
    float: left;
    margin-left: 30px;
    
    input[type=checkbox] {
      display: none;

      + span {
        display: inline-block;
        padding-left: 26px;
        line-height: 25px;
        background: url(../img/cbx-off.png) no-repeat;
        user-select: none;
        text-indent:-9999px; 
      }

      &:checked + span {
        background: url(../img/cbx-on.png) no-repeat;
      }
    }
  }
}

.input_gray {
  display: inline-block;
  width: 100%;
  max-width: 135px;
  background-color: $color_LGray; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;

  @include range-width(770px, 1025px) {
    max-width: 100px;
  }
}

.input_safe {
  display: inline-block;
  width: 100%;
  max-width: 260px;
  @include border-radius(10px);
  border: 2px solid rgba(185, 185, 185, 1.00);
  float: left;
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  margin-right: 15px;

  @include range-width(0, 450px) {
    margin-right: 0;
    max-width: none;
  }

  &.unselect {
    background-color: rgba(204, 204, 204, .8);
  }
}

.input_white {
  display: inline-block;
  width: 100%;
  max-width: 135px;
  background-color: white; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;

  &.m-login {
    width: 100%;
    max-width: none;
  }

  &.w-login {
    width: 75%;
    max-width: none;
  }

  &.m-menuUse {
    width: calc(100% - 69px);
    max-width: none;
    padding: 5px 10px;
    font-size: 1rem;
  }
}

.talk_input {
  display: inline-block;
  width: 100%;
  background-color: $color_LGray; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;
}

.w_select_type {
  display: inline-block;
  width: 100%;
  float: right;
  font-size: 1.6rem;
  padding: 10px;
  // border: 1px solid rgba(198, 198, 198, 1.00);
  // color: black;
  @include border-radius(5px);

  &.g {
    border: 1px solid $page_green;
    color: $page_green;
  }

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/se_arrow.png") no-repeat scroll right center transparent;
  background-size: 38px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  margin-top: 5px;
}

.select_type {
  display: inline-block;
  width: calc(100% - 160px);
  float: right;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid rgba(198, 198, 198, 1.00);
  color: black;

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/se_arrow.png") no-repeat scroll right center transparent;
  background-size: 38px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  margin-top: 5px;
}

.select_history {
  display: inline-block;
  width: calc(100% / 2 - 15px * 1 / 2);
  float: left;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid rgba(198, 198, 198, 1.00);
  color: black;
  margin-right: 15px;
  @include border-radius(5px);

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/his_arrow.png") no-repeat scroll right center white;
  background-size: 32px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  margin-top: 5px;

  &:last-child {
    margin-right: 0;
  }
}







