@import "Ginkgo";
@import "color";


input, textarea {
  border:0 none;
  outline: 0;
  background-color: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
}

.input_gray {
  display: inline-block;
  width: 100%;
  max-width: 135px;
  background-color: $color_LGray; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;

  @include range-width(770px, 1025px) {
    max-width: 100px;
  }
}

.input_white {
  display: inline-block;
  width: 100%;
  max-width: 135px;
  background-color: white; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;

  &.m-menuUse {
    width: calc(100% - 69px);
    max-width: none;
    padding: 5px 10px;
    font-size: 1rem;
  }
}

.talk_input {
  display: inline-block;
  width: 100%;
  background-color: $color_LGray; 
  @include border-radius(20px);
  padding: 5px 20px;
  font-size: 1.3rem;
  color: black;
}

.select_type {
  display: inline-block;
  width: calc(100% - 160px);
  float: right;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid rgba(198, 198, 198, 1.00);
  color: black;

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/se_arrow.png") no-repeat scroll right center transparent;
  background-size: 38px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  margin-top: 5px;
}

.select_history {
  display: inline-block;
  width: calc(100% / 2 - 15px * 1 / 2);
  float: left;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid rgba(198, 198, 198, 1.00);
  color: black;
  margin-right: 15px;
  @include border-radius(5px);

  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/his_arrow.png") no-repeat scroll right center white;
  background-size: 32px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  /*去除選中時樣式*/
  outline: none;
  margin-top: 5px;

  &:last-child {
    margin-right: 0;
  }
}







