@import "Ginkgo";
@import "color";

.banner1 {
    > .top {
        > .boxs {
            @include range-width(0, 450px) {
                overflow: auto;
                height: auto;
            }

            > .box {
                > img {
                    height: 100%;
                    max-height: 347px;
                }

                > a {
                    @include range-width(0, 450px) {
                        width: 100%;
                        max-width: 252px;
                    }
                }

                .cover {
                    @include range-width(0, 450px) {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        max-width: 252px;
                        margin: 0 auto;
                        margin-top: 10px;
                        > button {
                            width: 90px;
                            height: 30px;
                            border-radius: 20px;
                            background-color: $page_orange;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.banner2 {
    > .top {
        > .boxs {
            > .box {
                > img {
                    // width: auto;
                    // height: auto;
                    // max-height: 100%;
                }
            }
        }
    }
}
.iModalTemplate {
    display: none;
}
// 光箱
#iModel {
    // display: inline-block;
    display: none;

    &.showModel {
        display: flex;
    }

    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33, 33, 33, 0.8);

    .ac_outer {
        width: 80%;

        @include range-width(0, 450px) {
            width: 95%;
        }

        .hisCentBox {
            display: inline-block;
            width: 100%;
            background-color: white;
            padding: 40px;
            @include border-radius(10px);

            @include range-width(0, 450px) {
                padding: 15px;
            }

            &.in_his {
                max-height: 800px;
                overflow-x: hidden;
            }

            .model_title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;

                &.bt_line {
                    border-bottom: 1px solid rgba(33, 33, 33, 0.8);

                    h2 {
                        margin-bottom: 20px;
                        color: $page_orange;
                        font-size: 36px;

                        @include range-width(0, 450px) {
                            font-size: 24px;
                        }
                    }
                }

                @include range-width(0, 450px) {
                    flex-direction: column-reverse;
                }

                h2 {
                    display: inline-block;
                    margin: 0;
                    width: 80%;
                    text-align: left;
                    @include range-width(0, 450px) {
                        width: 100%;
                    }
                }

                .t-close {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                    width: 70px;
                    height: 30px;
                    font-size: 16px;
                    background-color: red;
                    border-radius: 5px;
                    color: white;

                    @include range-width(0, 450px) {
                        align-self: flex-end;
                        margin-bottom: 10px;
                    }
                }
            }

            > .video {
                margin-top: 40px;
                display: inline-block;
                width: 100%;

                video {
                    width: 100%;
                    height: 600px;

                    @include range-width(451px, 1441px) {
                        height: 480px;
                    }

                    @include range-width(0, 450px) {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            .model_content {
                display: flex;
                margin-top: 20px;

                @include range-width(0, 450px) {
                    flex-direction: column;
                }

                .text {
                    width: 40%;
                    font-size: 26px;
                    text-align: left;
                    line-height: 1.2;

                    @include range-width(0, 450px) {
                        margin-bottom: 20px;
                        width: 100%;
                        font-size: 20px;
                    }

                    > span {
                        display: inline-block;
                        margin: 20px 0;
                        font-size: 22px;

                        @include range-width(0, 450px) {
                            margin: 10px 0;
                            font-size: 16px;
                        }
                    }
                }

                .video {
                    width: 60%;

                    @include range-width(0, 450px) {
                        width: 100%;
                    }

                    video {
                        width: 100%;

                        height: 600px;

                        @include range-width(451px, 1441px) {
                            height: 480px;
                        }

                        @include range-width(0, 450px) {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
}

#textModel {
    // display: inline-block;
    display: none;

    &.showModel {
        display: flex;
    }

    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33, 33, 33, 0.8);

    @include range-width(0, 450px) {
        align-items: flex-start;
    }

    .ac_outer {
        width: 80%;

        @include range-width(0, 450px) {
            width: 95%;
        }

        .hisCentBox {
            display: inline-block;
            width: 100%;
            background-color: white;
            padding: 20px;
            @include border-radius(10px);

            @include range-width(0, 450px) {
                padding: 15px;
            }

            &.in_his {
                max-height: 900px;
                overflow-x: hidden;
            }

            .model_title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;

                &.bt_line {
                    border-bottom: 1px solid rgba(33, 33, 33, 0.8);

                    h2 {
                        margin-bottom: 20px;
                        color: $page_orange;
                        font-size: 36px;

                        @include range-width(0, 450px) {
                            font-size: 24px;
                        }
                    }
                }

                @include range-width(0, 450px) {
                    flex-direction: column-reverse;
                }

                h2 {
                    display: inline-block;
                    margin: 0;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                    font-size: 26px;
                    text-align: left;
                    color: $page_blue;
                    border-bottom: 1px solid $page_blue;
                    
                    @include range-width(0, 450px) {
                        width: 100%;
                    }
                }

                

                .t-close {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                    width: 70px;
                    height: 30px;
                    font-size: 16px;
                    background-color: red;
                    border-radius: 5px;
                    color: white;

                    @include range-width(0, 450px) {
                        align-self: flex-end;
                        margin-bottom: 10px;
                    }
                }
            }

            > .content {
                form {
                    > .input-box {
                        margin: 15px 0;
    
                        &.upload {
                            display: flex;
                            position: relative;

                            @include range-width(0, 450px) {
                                margin: 0;
                            }

                            > label {
                                width: 70%;
                                @include range-width(0, 450px) {
                                    width: 100%;
                                    margin-bottom: 70px;
                                }
    
                                > span {
                                    width: 14.5%;
                                    @include range-width(0, 450px) {
                                        width: 100%;
                                    }
                                }

                                > input[type="text"] {
                                    width: calc(100% - 14.5%);
                                    @include range-width(0, 450px) {
                                        width: 100%;
                                    }
                                }
                                > input[type="file"] {
                                    width: 0;
                                    height: 0;
                                }
                            } 
                        }
                        > label {
                            display: flex;
                            padding: 10px;
                            width: 100%;
                            font-size: 24px;
                            background-color: $page_blue;
                            color: #ffffff;
                            text-align: left;
                            border-radius: 5px;

                            @include range-width(0, 450px) {
                                flex-direction: column;
                            }
    
                            > span {
                                display: inline-block;
                                width: 10%;

                                @include range-width(0, 450px) {
                                    width: 100%;
                                }
                            }
                            > input, select {
                                padding: 0 5px;
                                width: 90%;
                                height: 33px;
                                font-size: 22px;
                                background-color: #ffffff;
                                @include range-width(0, 450px) {
                                    width: 100%;
                                }
                            }
    
                        }
                        input::-webkit-file-upload-button {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: calc(30% - 10px);
                                margin: 0 5px;
                                padding: 10px 0;
                                background-color: $page_blue;
                                color: #ffffff;
                                font-size: 22px;
                                border-radius: 5px;

                                @include range-width(0, 450px) {
                                    top: 90px;
                                    width: 100%;
                                    margin: 0;
                                }
                          }
                    }

                    > .note-box {
                        font-size: 16px;
                        text-align: left;
                        color: $color_red;

                    }

                    > .btn-box {
                        text-align: right;
                        button {
                            // width: 150px;
                            // height: 50px;
                            margin: 10px;
                            padding: 10px 20px;
                            background-color: $page_blue;
                            color: #ffffff;
                            font-size: 22px;
                            border-radius: 25px;
                        }
                    }
                }
                
            }
        }
    }
}

.showTextModel {
    cursor: pointer;
}