@import "Ginkgo";
@import "color";




.knowBoxsRight {
    // width: calc(100% - 150px);
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    float: left;
    // 控制按鈕分頁，設定預設值是沒有顯示
    display: none;

    &.knowBoxsRight_show {
        display: inline-block;

        @include range-width(0, 450px) {
            width: 100%;
        }
    }

    .knowCentBoxs {
        display: inline-block;
        width: 100%;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .knowCent, .knowCent_o, .knowCent_p {
            display: inline-block;
            float: left;
            width: 180px;
            height: 165px;
            // width: calc(100% / 4 - 40px * 3 / 4);
            // height: 192.500px;
            margin-top: 20px;
            margin-right: 20px;
            margin-left: 20px;
            background-color: rgba(255, 255, 255, 1);
            cursor: pointer;


            @include range-width(0, 450px) {
                width: calc(100% - 20px * 2);
            }

            figure {
                position: relative;
                margin: 0;
                width: 100%;
                height: 100%;

                &:hover {
                    img {
                        border-radius: 3px;                        

                        &.page_green {
                            border-color: $page_green;                            
                        }

                        &.page_blue {
                            border-color: $page_blue;
                        }

                        &.page_orange {
                            border-color: $page_orange;
                        }
                
                        &.page_brown {
                            border-color: $page_brown;
                        }
                    }   
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    border: 3px solid transparent;
                    
                }
            
                figcaption {
                    background: rgba(255, 255, 255, 1);
                    text-align: center;
                    color: rgba(0, 0, 0, 1);
                 
                    > p {
                        padding-top: 10px;
                        font-size: 1.4rem;

                        &.page_green {
                            color: $page_green;
                        }

                        &.page_blue {
                            color: $page_blue;
                        }

                        &.page_orange {
                            color: $page_orange;
                        }
                
                        &.page_brown {
                            color: $page_brown;
                        }
                    }
                 }
            }

            &.fullScreen {
                width: 100%;

                &.fullMobile_nospace {
                    margin-right: 0;
                    margin-left: 0;
                    
                    @include range-width(0, 450px) {
                        width: 100%;
                        margin-right: 0;
                        margin-left: 0;
                        border-radius: 0;  
                    }
                }
            } 

            > .infoHolder {
                display: none;
            }
    
            > .content {
                margin-top: 20px;
                padding: 20px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;

                > .title {
                    text-align: left;
                    color: rgba(0, 0, 0, 1);
                }        

                > .text {
                    display: inline-block;
                    // float: left;
                    text-align: left;
    
                    > img {
                        float: right;
                        margin-left: 20px;
                        width: auto;
                        height: auto;
                        max-width: 200px;
                        max-height: 200px;
    
                        @include range-width(0, 450px) {
                            float: none;
                            margin: 0 auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
    
                    > p {
                        text-align: left;
                        font-size: 16px;
                        margin: 10px 0;
                        color: rgba(0, 0, 0, 1);
                    }
    
                    &:after {
                        content: '';
                        clear: both;
                    }
                }
                
            }

            &.knowCent_o {
                padding: 20px;
                background-color: $page_orange;
                border-radius: 10px;
                cursor: default;
            }

            &.knowCent_p {
                padding: 20px;
                background-color: $page_purple;
                border-radius: 10px;
                cursor: default;

                > .content {
                    margin: 0;
                    padding: 0;
                    background-color: transparent;

                    .title {
                        width: 100%;
                        color: rgba(255, 255, 255, 1);

                        h3 {
                            display: inline-block;
                            width: 50%;
                            text-align: left;
                        }

                        select {
                            display: inline-block;
                            width: 50%;
                            text-align: right;
                            &.w_select_type {
                                background: url("../img/se_arrow.png") no-repeat scroll right center white;
    
                            }    
                        }
                    }

                    .text {
                        p {
                            color: rgba(255, 255, 255, 1);
                        }
                        
                    }

                    &.countryBox {

                        // .country_content {
                            // width: 100%;
                            .text {
                                display: none;
                                width: 100%;

                                &.text_show {
                                    display: inline-block;
                                }
                                img {
                                    display: inline-block;
                                    float: none;
                                    width: 30%;
                                    margin-left: 0;
                                    margin-right: 20px;

                                    @include range-width(0, 450px) {
                                        width: 100%;
                                    }
                                }
    
                                p {
                                    display: inline-block;
                                    float: right;
                                    width: 70%;
                                    color: rgba(255, 255, 255, 1);

                                    @include range-width(0, 450px) {
                                        width: 100%;
                                    }
                                }

                                &:after {
                                    content: '';
                                    clear: both;
                                }
                            } 
                        // }
                    } 
                }
            }
        }
    }

    .infoWrapper {
        position: relative;
        margin-top: 40px;
        padding: 20px;
        width: 100%;
        float: left;
        border-radius: 10px;

        @include range-width(0, 450px) {
            border-radius: 0;
        }

        &.page_green {
            background-color: $page_green;
        }

        &.page_blue {
            background-color: $page_blue;
        }
        
        &.page_orange {
            background-color: $page_orange;
        }

        &.page_brown {
            background-color: $page_brown;
        }
    
        &:after {
            content: '';
            clear: both;
        } 

        > .btn {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 30px;
            background-color: red;
            border-radius: 5px;
            color: rgba(255, 255, 255, 1);
        }

        > .title {
            // float: left;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }        

        > .content {

            > .text {
                display: inline-block;
                // float: left;

                > img {
                    float: right;
                    margin-left: 20px;
                    width: auto;
                    height: auto;
                    max-width: 200px;
                    max-height: 200px;

                    @include range-width(0, 450px) {
                        float: none;
                        margin: 0 auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                > p {
                    // float: left;
                    text-align: left;
                    font-size: 16px;
                    margin: 10px 0;
                    color: rgba(255, 255, 255, 1);
                }

                &:after {
                    content: '';
                    clear: both;
                }
            }
            
        }
        
    }
}
