@import "Ginkgo";
@import "color";

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.m_header_r {
  // @include range-width(450px, 770px) {
  //   display: inline-block;
  //   width: 15%;
  //   float: right;

  //   // d
  //   height: 65px;
  //   background-color: rgba(255, 0, 0, 0.2);
  // }
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 40px;
    float: right;
    height: 40px; 
    background-color: $color_Blue;
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
  }
}

.link_red {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.3rem;
  color: white;
  @include border-radius(3px);
  border: 1px solid rgba(178, 7, 1, 1.00);
  background:linear-gradient(rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(180deg,rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to top, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00) 0%, rgba(208, 11, 10, 1.00) 100%);

  &:hover, &:active {
    background:linear-gradient(rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00) );
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(180deg, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(to top, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00) 0%, rgba(254, 71, 55, 1.00) 100%);
  }

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
    padding: 4px 10px;
  }
}

.menu01, .menu02, .menu03, .menu04, .menu05, .menu06 {
  display: inline-block;
  position: absolute;

  @include range-width(0, 450px) {
    display: none;
  }
}

.menu01 {
  top: 35px;
  left: 55px;
}

.menu02 {
  top: 250px;
  left: 205px;
}

.menu03 {
  top: 58px;
  left: calc(50% - 170px);
}

.menu04 {
  top: 250px;
  right: 230px;
}

.menu05 {
  top: 20px;
  right: 75px;
}

.menu06 {
  top: 345px;
  right: 30px;
}

