@import "Ginkgo";
@import "color";

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.m_header_r {
  // @include range-width(450px, 770px) {
  //   display: inline-block;
  //   width: 15%;
  //   float: right;

  //   // d
  //   height: 65px;
  //   background-color: rgba(255, 0, 0, 0.2);
  // }
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 40px;
    float: right;
    height: 40px; 
    background-color: $color_Blue;
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
  }
}

.link_pink {
  display: inline-block;
  padding: 5px 15px;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  @include border-radius(15px);
  margin-top: 20px;
  background-color: rgba(229, 36, 143, 1.00);
}


.link_red {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  @include border-radius(3px);
  border: 1px solid rgba(178, 7, 1, 1.00);
  background:linear-gradient(rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(180deg,rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to top, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00) 0%, rgba(208, 11, 10, 1.00) 100%);

  &:hover, &:active {
    background:linear-gradient(rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00) );
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(180deg, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(to top, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00) 0%, rgba(254, 71, 55, 1.00) 100%);
  }

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
    padding: 4px 10px;
  }

  @include range-width(0, 450px) {
    font-size: 1.1rem;
    padding: 2px 12px;
  }
}

.link_red_l {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  @include border-radius(15px);
  border: 1px solid rgba(178, 7, 1, 1.00);
  background:linear-gradient(rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(180deg,rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
  background:linear-gradient(to top, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
  background:linear-gradient(to bottom, rgba(254, 71, 55, 1.00) 0%, rgba(208, 11, 10, 1.00) 100%);

  &:hover, &:active {
    background:linear-gradient(rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00) );
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(180deg, rgba(208, 11, 10, 1.00), rgba(254, 71, 55, 1.00));
    background:linear-gradient(to top, rgba(254, 71, 55, 1.00), rgba(208, 11, 10, 1.00));
    background:linear-gradient(to bottom, rgba(208, 11, 10, 1.00) 0%, rgba(254, 71, 55, 1.00) 100%);
  }
}

.link_blue_l {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  @include border-radius(15px);
  border: 1px solid rgba(25, 107, 200, 1.00);
  background: #4a9bea; /* Old browsers */
  background: -moz-linear-gradient(top,  #4a9bea 0%, #1f7be5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4a9bea 0%,#1f7be5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4a9bea 0%,#1f7be5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a9bea', endColorstr='#1f7be5',GradientType=0 ); /* IE6-9 */

  &:hover, &:active {
    background:linear-gradient(#4a9bea, #1f7be5 );
    background:linear-gradient(to bottom, #4a9bea, #1f7be5);
    background:linear-gradient(180deg, #4a9bea, #1f7be5);
    background:linear-gradient(to top, #1f7be5, #4a9bea);
    background:linear-gradient(to bottom, #4a9bea 0%, #1f7be5 100%);
  }
}


.link_grey {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  @include border-radius(3px);
  border: 1px solid rgba(95, 111, 119, 1.00);
  background:linear-gradient(rgba(205, 219, 230, 1.00), rgba(90, 107, 115, 1.00));
  background:linear-gradient(to bottom, rgba(205, 219, 230, 1.00), rgba(90, 107, 115, 1.00));
  background:linear-gradient(180deg,rgba(205, 219, 230, 1.00), rgba(90, 107, 115, 1.00));
  background:linear-gradient(to top, rgba(90, 107, 115, 1.00), rgba(205, 219, 230, 1.00));
  background:linear-gradient(to bottom, rgba(205, 219, 230, 1.00) 0%, rgba(90, 107, 115, 1.00) 100%);

  &:hover, &:active {
    background:linear-gradient(rgba(90, 107, 115, 1.00), rgba(205, 219, 230, 1.00) );
    background:linear-gradient(to bottom, rgba(90, 107, 115, 1.00), rgba(205, 219, 230, 1.00));
    background:linear-gradient(180deg, rgba(90, 107, 115, 1.00), rgba(205, 219, 230, 1.00));
    background:linear-gradient(to top, rgba(205, 219, 230, 1.00), rgba(90, 107, 115, 1.00));
    background:linear-gradient(to bottom, rgba(90, 107, 115, 1.00) 0%, rgba(205, 219, 230, 1.00) 100%);
  }

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
    padding: 4px 10px;
  }

  @include range-width(0, 450px) {
    font-size: 1.1rem;
    padding: 2px 11px;
  }
}

.link_LGrey {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.3rem;
  text-align: center;
  color: black;
  @include border-radius(3px);
  border: 1px solid rgba(207, 207, 207, 1.00);
  background:linear-gradient(rgba(255, 255, 255, 1.00), rgba(237, 237, 237, 1.00));
  background:linear-gradient(to bottom, rgba(255, 255, 255, 1.00), rgba(237, 237, 237, 1.00));
  background:linear-gradient(180deg,rgba(255, 255, 255, 1.00), rgba(237, 237, 237, 1.00));
  background:linear-gradient(to top, rgba(237, 237, 237, 1.00), rgba(255, 255, 255, 1.00));
  background:linear-gradient(to bottom, rgba(255, 255, 255, 1.00) 0%, rgba(237, 237, 237, 1.00) 100%);

  &:hover, &:active {
    background:linear-gradient(rgba(237, 237, 237, 1.00), rgba(255, 255, 255, 1.00) );
    background:linear-gradient(to bottom, rgba(237, 237, 237, 1.00), rgba(255, 255, 255, 1.00));
    background:linear-gradient(180deg, rgba(237, 237, 237, 1.00), rgba(255, 255, 255, 1.00));
    background:linear-gradient(to top, rgba(255, 255, 255, 1.00), rgba(237, 237, 237, 1.00));
    background:linear-gradient(to bottom, rgba(237, 237, 237, 1.00) 0%, rgba(255, 255, 255, 1.00) 100%);
  }

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
    padding: 4px 10px;
  }

  @include range-width(0, 450px) {
    font-size: 1.1rem;
    padding: 2px 12px;
  }
}

.link_tag {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  float: left;
  @include transition(all .3s);

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
  
  &:hover {
    color: $font_grey;

    &:after {
      color: black;
    }
  }

  &:after {
    display: inline-block;
    content: '\f105';
    font-family: icon;
    margin: 3px 5px 0  5px;
  }
}

.menu01, .menu02, .menu03, .menu04, .menu05, .menu06 {
  display: inline-block;
  position: absolute;

  @include range-width(0, 450px) {
    display: none;
  }
}

.menu01 {
  top: 35px;
  left: 55px;
}

.menu02 {
  top: 250px;
  left: 205px;
}

.menu03 {
  top: 58px;
  left: calc(50% - 170px);
}

.menu04 {
  top: 250px;
  right: 230px;
}

.menu05 {
  top: 20px;
  right: 75px;
}

.menu06 {
  top: 345px;
  right: 30px;
}

// tag
.knowBtn {
  display: inline-block;
  width: calc(100% / 4 - 20px * 3 / 4);
  cursor: pointer;
  padding: 8px 25px;
  font-weight: bolder;
  font-size: 1.6rem;
  float: left;
  margin-right: 20px;
  @include transition(all .3s);
  @include border-radius(15px);

  &:nth-child(4n+4) {
    margin-right: 0;
  }

  &:nth-child(n+5) {
    margin-top: 20px;
  }

  &.btn_green {
    color: $page_green;
    border: 1px solid $page_green;
    background: transparent;
  }

  &.green_s {
    color: white;
    background: rgb(143,196,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(143,196,0,1) 1%, rgba(72,136,34,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(143,196,0,1) 1%,rgba(72,136,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(143,196,0,1) 1%,rgba(72,136,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#488822',GradientType=0 ); /* IE6-9 */
    border: 1px solid $page_green;

    &:hover, &:active {
      color: white;
    }
  }


  &.btn_blue {
    color: $page_blue;
    border: 1px solid $page_blue;
    background: transparent;
  }

  &.blue_s {
    color: white;
    background: rgb(83,172,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(83,172,216,1) 0%, rgba(24,116,167,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(83,172,216,1) 0%,rgba(24,116,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(83,172,216,1) 0%,rgba(24,116,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53acd8', endColorstr='#1874a7',GradientType=0 ); /* IE6-9 */
    border: 1px solid $page_blue;

    &:hover, &:active {
      color: white;
    }
  }

  &.btn_purple {
    color: $page_purple;
    border: 1px solid $page_purple;
    background: transparent;
  }

  &.purple_s {
    color: white;
    background: rgb(230,112,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(230,112,232,1) 0%, rgba(168,73,163,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(230,112,232,1) 0%,rgba(168,73,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(230,112,232,1) 0%,rgba(168,73,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e670e8', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
    border: 1px solid $page_purple;

    &:hover, &:active {
      color: white;
    }
  }

  &.btn_orange {
    color: $page_orange;
    border: 1px solid $page_orange;
    background: transparent;
  }

  &.orange_s {
    color: white;
    background: rgb(255,164,67); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,164,67,1) 0%, rgba(255,116,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,164,67,1) 0%,rgba(255,116,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,164,67,1) 0%,rgba(255,116,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa443', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */
    border: 1px solid $page_orange;

    &:hover, &:active {
      color: white;
    }
  }

  &.btn_brown {
    color: $page_brown;
    border: 1px solid $page_brown;
    background: transparent;
  }

  &.brown_s {
    color: white;
    background: rgb(224,152,86); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,152,86,1) 0%, rgba(153,101,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(224,152,86,1) 0%,rgba(153,101,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(224,152,86,1) 0%,rgba(153,101,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09856', endColorstr='#996535',GradientType=0 ); /* IE6-9 */
    border: 1px solid $page_brown;

    &:hover, &:active {
      color: white;
    }
  }
}


.m_LeftMenu {
  display: inline-block;
  float: left;
  padding: 5px 10px;
  font-size: 1rem;
  float: left;
  text-align: left;

  &:nth-child(n+2) {
    padding: 5px 0 5px 10px;

    &:after {
      margin: 0 5px 0 10px;
    }
  }

  // video
  &.v_LBlue {
    color: $video_blue;

    &:hover {
      @include border-radius(5px);
      background-color: $video_blue;
    }
  }
  &.v_LBlue_s {
    color: white;
    @include border-radius(5px);
    background-color: $video_blue;
    padding: 5px 10px !important;

    &:after {
      display: none;
    }
  }

  // game
  &.v_LRed {
    color: red;

    &:hover {
      @include border-radius(5px);
      background-color: red;
    }
  }
  &.v_LRed_s {
    color: white;
    @include border-radius(5px);
    background-color: red;
    padding: 5px 10px !important;

    &:after {
      display: none;
    }
  }

  // know
  &.v_LGreen {
    color: rgba(99, 185, 2, 1.00);

    &:hover {
      @include border-radius(5px);
      background-color: rgba(99, 185, 2, 1.00);
    }
  }
  &.v_LGreen_s {
    color: white;
    @include border-radius(5px);
    background-color: rgba(99, 185, 2, 1.00);
    padding: 5px 10px !important;

    &:after {
      display: none;
    }
  }

  // test
  &.v_Lpurple {
    color: $page_purple;

    &:hover {
      @include border-radius(5px);
      background-color: $page_purple;
    }
  }
  &.v_Lpurple_s {
    color: white;
    @include border-radius(5px);
    background-color: $page_purple;
    padding: 5px 10px !important;

    &:after {
      display: none;
    }
  }

  &:hover {
    color: white;
  }

  &:after {
    display: inline-block;
    content: '|';
    margin: 0 5px;
  }
}

.btn_test {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  background-color: rgba(249, 249, 249, 1.00);
  @include border-radius(5px);
  border: 1px solid rgba(181, 180, 181, 1.00);
  font-size: 1.2rem; 
  color: black;
  text-align: left;
  padding: 2px 5px;
  line-height: 32px;

  &:hover {
    background-color: rgba(204, 204, 204, 1.00);
  }

  img {
    display: inline-block;
    width: 100%;
    max-width: 35px;
    margin-right: 5px;
  }
}









