@import "Ginkgo";
@import "color";

.m-close {
  display: inline-block;
  @include range-width(0, 450px) {
    display: none !important;
  }
}

.m-open {
  display: none !important;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.order_l {
  float: left;
}

.order_r {
  float: right;
}

.pageContentImg {
  display: inline-block;
  float: right;
  width: 100%;
  max-width: 300px;
  margin: 0 0 10px 10px;
}


.d-borderDotted {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dotted rgba(162, 162, 163, 1.00);
  // margin: 10px 0;
}

// header
.logo, .header_icon, .icon_qa, .icon_lock {
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 132px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    max-width: 85px;
  }
}

.header_icon {
  max-width: 30px;
  padding-top: 13px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    padding-top: 5px;
  }
}

.icon_qa {
  max-width: 25px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    max-width: 17px;
    margin-right: 5px;
    padding-top: 2px;
  }
}

.icon_lock {
  max-width: 42px;

  @include range-width(0, 450px) {
    max-width: 25px;
  }
}

// index pic
.img_slogan, .img_week, .img_testPlay {
  display: inline-block;
  width: 100%;
}

.img_slogan {
  max-width: 570px;

  &.img_S_page {
    max-width: 310px;

    @include range-width(0, 450px) {
      max-width: 133px;
    }
  }
}

.pt-img {
  display: inline-block;
  width: 100%;
  max-width: 890px;
}

.img_week {
  max-width: 200px;
  position: absolute;
  left: 75px;

  @include range-width(770px, 1100px) {
    max-width: 160px;
    left: 25px;
    top: 60px;
  }
}

.img_testPlay {
  max-width: 140px;
  position: absolute;
  right: 115px;
  top: 115px;

  @include range-width(770px, 1100px) {
    max-width: 120px;
    right: 55px;
    top: 175px;
  }
}

.img_ad {
  display: inline-block;
  width: 100%;
  max-width: 275px;
}


// 提示框
.tip_box {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 8888;

  @include range-width(0, 450px) {
    display: none;
  }
}

.prompt {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;

  &.pa {
    &:hover {
      cursor: pointer;

      &:before {
        content: attr(data-showtip);
        background-color: red;
        color: white;
        padding: 0 5px;
        position: absolute;
        font-size: .9rem;
        left: -20px;
        bottom: -35px;
        margin-right: -8px;
        white-space: pre;
        line-height: 25px;
        @include border-radius(5px);
      }

      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        left: 17px;
        bottom: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent red transparent;
      }
    }
  }

  &:hover {
    cursor: pointer;

    &:before {
      content: attr(data-showtip);
      background-color: red;
      color: white;
      padding: 0 5px;
      position: absolute;
      font-size: .9rem;
      left: -16px;
      bottom: -35px;
      margin-right: -8px;
      white-space: pre;
      line-height: 25px;
      @include border-radius(5px);
    }

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      left: 7px;
      bottom: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent red transparent;
    }
  }
}


// 首頁星球
.img_menu01, .img_menu02, .img_menu03, .img_menu04, .img_menu05, .img_menu06 {
  display: inline-block;
  width: 100%;
}

.img_menu01 {
  max-width: 236px;
}

.img_menu02 {
  max-width: 221px;
}

.img_menu03 {
  max-width: 342px;
}

.img_menu04 {
  max-width: 202px;
}

.img_menu05 {
  max-width: 198px;
}

.img_menu06 {
  max-width: 138px;
}

.m_header_img {
  display: inline-block;
  width: 100%;
  max-width: 55px;
}

// 手機Menu
.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 450px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 80%;
    height: 100vh;
    background-color: white;
    float: right;
    position: relative;
  }

  .menuClose {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 10px 0;
  }
}
.m_header {
  display: inline-block;
  width: 100%;
  padding: 15px 0; 
  background-color: $color_LBlue;
}

// 手機選單・下拉
.dropbtn {
  width: 100%;
  text-align: left;
  color: black;
  padding: 7px 15px 7px 55px;
  font-size: 1.5rem;
  border-top: 1px solid rgba(162, 162, 163, 1.00);
  cursor: pointer;
  @include transition(all .3s);

  &.m-nb {
    border-top: 0;
  } 

  &.m-menu01 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu01.png);
  }

  &.m-menu02 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu02.png);
  }

  &.m-menu03 {
    background-repeat: no-repeat;
    background-position:19px 6px;
    background-image: url(../img/mMenuIcon/m-menu03.png);
  }

  &.m-menu04 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu04.png);
  }

  &.m-menu05 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu05.png);
  }

  &.m-menu06 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu06.png);
  }

  &.m-menu07 {
    background-repeat: no-repeat;
    background-position:15px 10px;
    background-image: url(../img/mMenuIcon/m-menu07.png);
  }

  &.m-menu08 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu08.png);
  }
}

.dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: #f9f9f9;
  text-align: left;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(162, 162, 163, 1.00);

    &:hover {
      background-color: #f1f1f1;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }

  .dropbtn {
    // 亮黃色
    background-color: rgba(255, 240, 0, 1.00);
    border-top: 0;

    &.m-menu01 {
      background-image: url(../img/mMenuIcon/m-menu01-hover.png);
    }

    &.m-menu02 {
      background-image: url(../img/mMenuIcon/m-menu02-hover.png);
    }

    &.m-menu03 {
      background-image: url(../img/mMenuIcon/m-menu03-hover.png);
    }

    &.m-menu04 {
      background-image: url(../img/mMenuIcon/m-menu04-hover.png);
    }

    &.m-menu05 {
      background-image: url(../img/mMenuIcon/m-menu05-hover.png);
    }

    &.m-menu06 {
      background-image: url(../img/mMenuIcon/m-menu06-hover.png);
    }

    &.m-menu07 {
      background-image: url(../img/mMenuIcon/m-menu07-hover.png);
    }

    &.m-menu08 {
      background-image: url(../img/mMenuIcon/m-menu08-hover.png);
    }
  }
}

// 桌機左邊選單・下拉
.block-l-menuBox {
  display: inline-block;
  width: calc(100% - 15px);
  background-color: white;
  @include border-radius(3px);
  height: 100%;
  @include transition(left .3s, right .3s);
  @include clearfix();
  text-align: left;
  padding: 0 27px 0 0;
  float: left;

  span {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);

    &:after {
      display: inline-block;
      content: '\e910';
      font-family: 'icon';
      color: black;
      font-size: .9rem;
      float: right;
    }
  }

  > span, > a, > div > a, > div > div > a, > div > span {
    display: inline-block;
    width: 100%;
    padding: 0;
    color: black;
    text-decoration: none;
    cursor: pointer;
    @include transition(all .3s);

    &.s_menublue {
      color: black;
      border-left: 2px solid yellow;
    }
  }

  > span {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  > span, > a {
    color: black;
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 50px;
    position: relative;

    &:after {
      display: inline-block;
      width: 100%;
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      border-bottom: 1px dotted rgba(162, 162, 163, 1.00);
    }

    + div.m-smenu {
      display: none;
    }
  }

  > span.s {
    background-color: rgba(255, 245, 151, 1.00);
    @include border-radius(30px);
    
    // &:after {
    //   display: inline-block;
    //   content: '\e90b';
    //   font-family: 'icon';
    //   color: black;
    //   font-size: .9rem;
    //   float: right;
    // }

    + div {
      display: inline-block;
    }
  }

  // > div > span.s {
  //   border-bottom: 1px dotted rgba(186, 186, 186, 1.00);
  //   background-color: rgba(216, 216, 216, 1.00);

  //   &:after {
  //     // @include rotate(90deg);
  //     color: black;
  //   }

  //   + div {
  //     display: none;
  //   }
  // }

  .m-smenu {
    margin-top: 20px;
    width: 100%;

    > a {
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      color: black;
      text-decoration: none;
      cursor: pointer;
      @include transition(all .3s);
      font-size: 1.5rem;
      background-color: rgba(231, 231, 231, 1.00);
      @include border-radius(20px);
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover, &:active {
        color: white;
        background-color: rgba(55, 52, 58, 1.00);
      }

      &.l-menu-active {
        color: white;
        background-color: rgba(55, 52, 58, 1.00);
      }
    }
  }
}












