@import "Ginkgo";
@import "color";

.m-close {
  display: inline-block;
  @include range-width(0, 450px) {
    display: none !important;
  }
}

.m-open {
  display: none !important;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.order_l {
  float: left;
}

.order_r {
  float: right;
}

.testIcon {
  display: inline-block;
  width: 100%;
  max-width: 22px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    max-width: 15px;
  }
}

.tabImg {
  display: inline-block;
  width: 100%;
  max-width: 350px;
}

.pageContentImg {
  display: inline-block;
  float: right;
  width: 100%;
  max-width: 300px;
  margin: 0 0 10px 10px;

  @include range-width(0, 450px) {
    max-width: none;
    margin: 0 0 10px 0;
  }
}


.d-borderDotted {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dotted rgba(162, 162, 163, 1.00);
  // margin: 10px 0;
}

// header
.logo, .header_icon, .icon_qa, .icon_lock {
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 132px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    max-width: 85px;
  }
}

.header_icon {
  max-width: 30px;
  padding-top: 13px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    padding-top: 5px;
  }
}

.icon_qa {
  max-width: 25px;
  margin-right: 5px;

  @include range-width(0, 450px) {
    max-width: 17px;
    margin-right: 5px;
    padding-top: 2px;
  }
}

.icon_lock {
  max-width: 42px;

  @include range-width(0, 450px) {
    max-width: 25px;
  }
}

// index pic
.img_slogan, .img_week, .img_testPlay {
  display: inline-block;
  width: 100%;
}

.img_slogan {
  max-width: 570px;

  &.img_S_page {
    max-width: 310px;

    @include range-width(0, 450px) {
      max-width: 133px;
    }
  }
}

.img_inTitle {
  display: inline-block;
  width: 100%;
  max-width: 30px;
  margin-right: 10px;
}

.img_inTitle2 {
  display: inline-block;
  width: 100%;
  max-width: 22px;
  margin-right: 10px;
}

.helpTtitleImg {
  display: inline-block;
  width: 100%;
  max-width: 370px;
  float: left;
}

.pt-img {
  display: inline-block;
  width: 100%;
  max-width: 890px;
}

.img_week {
  max-width: 200px;
  position: absolute;
  left: 75px;

  @include range-width(770px, 1100px) {
    max-width: 160px;
    left: 25px;
    top: 60px;
  }
}

.img_testPlay {
  max-width: 140px;
  position: absolute;
  right: 115px;
  top: 115px;

  @include range-width(770px, 1100px) {
    max-width: 120px;
    right: 55px;
    top: 175px;
  }
}

.img_ad {
  display: inline-block;
  width: 100%;
  max-width: 275px;
}


// 提示框
.tip_box {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 7777;

  @include range-width(0, 450px) {
    display: none;
  }
}

.prompt {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;

  &.pa {
    &:hover {
      cursor: pointer;

      &:before {
        content: attr(data-showtip);
        background-color: red;
        color: white;
        padding: 0 5px;
        position: absolute;
        font-size: .9rem;
        left: -20px;
        bottom: -35px;
        margin-right: -8px;
        white-space: pre;
        line-height: 25px;
        @include border-radius(5px);
      }

      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        left: 17px;
        bottom: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent red transparent;
      }
    }
  }

  &:hover {
    cursor: pointer;

    &:before {
      content: attr(data-showtip);
      background-color: red;
      color: white;
      padding: 0 5px;
      position: absolute;
      font-size: .9rem;
      left: -16px;
      bottom: -35px;
      margin-right: -8px;
      white-space: pre;
      line-height: 25px;
      @include border-radius(5px);
    }

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      left: 7px;
      bottom: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent red transparent;
    }
  }
}


// 首頁星球
.img_menu01, .img_menu02, .img_menu03, .img_menu04, .img_menu05, .img_menu06 {
  display: inline-block;
  width: 100%;
}

.img_menu01 {
  max-width: 236px;
}

.img_menu02 {
  max-width: 221px;
}

.img_menu03 {
  max-width: 342px;
}

.img_menu04 {
  max-width: 202px;
}

.img_menu05 {
  max-width: 198px;
}

.img_menu06 {
  max-width: 138px;
}

.m_header_img {
  display: inline-block;
  width: 100%;
  max-width: 55px;
}

// 手機Menu
.m_menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  @include transition(all .3s);
  

  @include range-width(0, 450px) {
    display: inline-block;
  }

  &.menu_open {
    right: 0;
  }

  .menuBox {
    display: inline-block;
    width: 80%;
    height: 100vh;
    background-color: white;
    float: right;
    position: relative;
  }

  .menuClose {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 10px 0;
  }
}
.m_header {
  display: inline-block;
  width: 100%;
  padding: 15px 0; 
  background-color: $color_LBlue;
}

// 手機選單・下拉
.dropbtn {
  width: 100%;
  text-align: left;
  color: black;
  padding: 7px 15px 7px 55px;
  font-size: 1.5rem;
  border-top: 1px solid rgba(162, 162, 163, 1.00);
  cursor: pointer;
  @include transition(all .3s);

  &.m-nb {
    border-top: 0;
  } 

  &.m-menu01 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu01.png);
  }

  &.m-menu02 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu02.png);
  }

  &.m-menu03 {
    background-repeat: no-repeat;
    background-position:19px 6px;
    background-image: url(../img/mMenuIcon/m-menu03.png);
  }

  &.m-menu04 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu04.png);
  }

  &.m-menu05 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu05.png);
  }

  &.m-menu06 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu06.png);
  }

  &.m-menu07 {
    background-repeat: no-repeat;
    background-position:15px 10px;
    background-image: url(../img/mMenuIcon/m-menu07.png);
  }

  &.m-menu08 {
    background-repeat: no-repeat;
    background-position:15px 6px;
    background-image: url(../img/mMenuIcon/m-menu08.png);
  }
}

.dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: #f9f9f9;
  text-align: left;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(162, 162, 163, 1.00);

    &:hover {
      background-color: #f1f1f1;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }

  .dropbtn {
    // 亮黃色
    background-color: rgba(255, 240, 0, 1.00);
    border-top: 0;

    &.m-menu01 {
      background-image: url(../img/mMenuIcon/m-menu01-hover.png);
    }

    &.m-menu02 {
      background-image: url(../img/mMenuIcon/m-menu02-hover.png);
    }

    &.m-menu03 {
      background-image: url(../img/mMenuIcon/m-menu03-hover.png);
    }

    &.m-menu04 {
      background-image: url(../img/mMenuIcon/m-menu04-hover.png);
    }

    &.m-menu05 {
      background-image: url(../img/mMenuIcon/m-menu05-hover.png);
    }

    &.m-menu06 {
      background-image: url(../img/mMenuIcon/m-menu06-hover.png);
    }

    &.m-menu07 {
      background-image: url(../img/mMenuIcon/m-menu07-hover.png);
    }

    &.m-menu08 {
      background-image: url(../img/mMenuIcon/m-menu08-hover.png);
    }
  }
}

.img_testbook {
  display: inline-block;
  width: 100%;
  max-width: 70px;
  float: left;
}


.his_ul {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 0;

  li {
    display: inline-block;
    font-size: 1.15rem;
    color: black;
    line-height: 1.5;
    margin-bottom: 15px;

    background-image:url(../img/history/start_pur.png);
    background-position:left 2px;
    background-repeat:no-repeat;    
    list-style-type:none;
    padding-left:30px;
  }
}


.border_do {
  display: inline-block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted rgba(182, 182, 182, 1.00);
  margin: 20px 0; 
}







