@import "Ginkgo";
@import "color";


html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  &.indexBg {
    // height: 100vh;
    margin:0;
    padding:0;
    background: #436ace url(../img/bg.png) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    // background:linear-gradient(#30b6f3, #1f2a9c);
    // background:linear-gradient(to bottom, #30b6f3, #1f2a9c);
    // background:linear-gradient(180deg,#30b6f3, #1f2a9c);
    // background:linear-gradient(to top, #1f2a9c, #30b6f3);
    // background:linear-gradient(to bottom, #30b6f3 0%, #1f2a9c 100%);

    @include range-width(0, 450px) {
      background: #436ace url(../img/m_bg.png) center center fixed no-repeat;
      background-size: cover;
      -moz-background-size: cover;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
  padding: 0 50px;

  &.pageH {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);

    @include range-width(0, 450px) {
      box-shadow: none;
    }
  }

  @include range-width(770px, 1190px) {
    padding: 0 20px;
  }

  @include range-width(450px, 770px) {
    padding: 0 0 0 20px;
  }

  @include range-width(0, 450px) {
    display: inline-block;
    padding: 0 0 0 10px;
    height: 40px;
  }
}

.pageTitleBox {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 199px;
  margin-top: 65px;
  background: url(../img/pageHeaderBG.png) left bottom no-repeat;
  -moz-background-size: cover;
  background-size: cover;

  &.pageTB_no {
    margin-top: 0;
  }

  @include range-width(0, 450px) {
    margin-top: 40px;
    min-height: 60px;
    background: url(../img/m-pageHeaderBG.png) center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  }
}

.header_l, .header_r {
  display: inline-block;
  // line-height: 65px;
}

.header_l {
  width: 30%;
  float: left;
  text-align: left;

  @include range-width(0, 770px) {
    width: 85%;
  }
}

.header_r {
  width: 70%;
  float: right;
  text-align: right;

  @include range-width(0, 770px) {
    display: none;
  }
}

.posit {
  position: relative;
}

.posit_a {
  position: absolute;
}

.OutBoxs15 {
  display: inline-block;
  width: 100%;

  @include range-width(0, 450px) {
    padding: 0 15px;
  }
}

.t-not-boxs {
  display: inline-block;
  padding: 0 10px;
  float: left;

  @include range-width(0, 450px) {
    padding: 0 0 0 8px;
  }

  img {
    display: inline-block;
    width: 100%;
    max-width: 36px;
    float: left;

    @include range-width(0, 450px) {
      max-width: 27px;
    }
  }

  p {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 5px;
    font-weight: bolder;

    @include range-width(0, 450px) {
      font-size: .9rem;
    }

    &.tb {color: rgba(0, 46, 106, 1.00);}
    &.tg {color: rgba(4, 120, 10, 1.00);}
    &.tr {color: rgba(136, 0, 21, 1.00);}
  }
}

.boxs3_l {
  display: inline-block;
  width: calc(100% / 3 - 10px * 2 / 3);
  float: left;
  
  &:nth-child(2) {
    margin: 0 10px;
  }
}

.boxs3 {
  display: inline-block;
  width: calc(100% / 3 - 15px * 2 / 3);
  margin-right: 15px;
  @include border-radius(5px);
  padding: 10px;
  float: left;
  @include clearfix();

  @include range-width(0, 450px) {
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.tcGreen {background-color: rgba(226, 254, 159, 1.00);}
  &.tcBlue {background-color: rgba(155, 208, 255, 1.00);}
  &.tcRed {background-color: rgba(255, 176, 187, 1.00);}

  &:last-child {
    margin-right: 0;
  }

  .testbook_right {
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 10px;
    float: right;
  }
}

.testGreyBoxs {
  display: inline-block;
  float: right;
  @include border-radius(5px);
  padding: 10px;
  background-color: rgba(213, 213, 213, 1.00);

  @include range-width(0, 450px) {
    padding: 5px;
    float: none;
  }
}

.testCentBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(15px);
  padding: 20px 10px;
}

.testCentBg {
  display: inline-block;
  width: 100%;
  background-color: white;
  @include border-radius(15px);
  padding: 15px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hisBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(10px);
  border: 1px solid rgba(143, 116, 208, 1.00);
  background-color: rgba(227, 214, 254, 1.00);
  padding: 10px;
}

.hisCentBox {
  display: inline-block;
  width: 100%;
  @include border-radius(10px);
  background-color: white;
  padding: 15px;

  &.in_his {
    max-height: 600px;
    overflow-x:hidden;
  }
}

.ds {
  display: inline-block;
  @include clearfix();

  &.ds100 {
    width: 100%;
  }

  &.ds-60 {
    width: calc(100% - 60px);
    padding-left: 8px;
  }
}

.ds_cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

// tag
.knowselect {
  display: inline-block;
  width: 100%;
  // 控制按鈕分頁，設定預設值是沒有顯示
  display: none;

  &.knowselect_show {
    display: inline-block;
  } 
}

.pageBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1180px;
  @include clearfix();

  .pageLeft, .pageRight {
    display: inline-block;
    float: left;
  }

  .pageLeft {
    width: 250px;

    @include range-width(0, 450px) {
      display: none;
    }
  }
  .pageRight {
    width: calc(100% - 250px);
    padding-left: 40px;

    &.pageR_all {
      width: 100%;
    }

    &.page_R_K {
      @include range-width(0, 450px) {
        width: 100%;
        padding: 15px 0;
      }
    }

    @include range-width(0, 450px) {
      width: 100%;
      padding: 15px;

      &.tImg {
        padding: 15px 0;
      }
    }
  }
}

.bigBoxs {
  display: inline-block;
  width: 100%;
  position: relative;
  min-height: 870px;

  &.cent_index {
    height: calc(100vh - 65px);

    &.chagne_cent {
      height: 100%;
    }

    &.nocut {
      height: 100vh;
    }
    // min-height: 800px;
    margin:0;
    padding:0;
    // background: url(../img/star.png) center 65px fixed no-repeat;
    // -moz-background-size: contain;
    // background-size: contain;

    // background: url(../img/big_planet.png) center bottom fixed no-repeat;
    // -moz-background-size: contain;
    // background-size: contain;
    background-image: url(../img/big_planet.png),
                      url(../img/star.png);

    background-repeat : no-repeat,
                        no-repeat;

    background-position: center bottom,
                         center 65px;

    -moz-background-size: contain,
                          contain;

    background-size: contain,
                     contain;

    @include range-width(0, 450px) {
      height: calc(100vh - 40px);

      background-image: url(../img/big_planet.png),
                        url(../img/m_star.png);

      background-repeat : no-repeat,
                          no-repeat;

      background-position: center bottom,
                           center top;

      -moz-background-size: contain,
                          contain;

      background-size: contain,
                       cover;
    }
  }

  .bigPlanet {
    display: inline-block;
    width: 100%;
    min-height: 490px;
    // position: fixed;
    bottom: 0;
    left: 0;
    margin:0;
    padding:0;
    // background: url(../img/big_planet.png) center bottom fixed no-repeat;
    // -moz-background-size: contain;
    // background-size: contain;

    &.change_big {
      position: unset;
    }

    @include range-width(0, 450px) {
      min-height: 220px;
    }
  }
}

.planetBoxs {
  display: inline-block;
  width: 100%;
  height: calc(100% - 490px);
  position: relative;
  z-index: 7777;

  @include range-width(0, 450px) {
    display: none;
  }
}

.mainBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  @include clearfix();
}

.maxWidth {
  max-width: 1160px;
}

.allBoxs {
  display: inline-block;
  width: 100%;
  @include clearfix();

  @include range-width(0, 1160px) {
    padding: 0 15px;
  }

  &.all_no_p {
    @include range-width(0, 450px) {
      padding: 0;
    }
  }
}



// index title
.boxs280 {
  display: inline-block;
  width: 100%;
  height: 280px;

  @include range-width(0, 450px) {
    height: auto;
  }
}

.boxs120 {
  display: inline-block;
  width: 100%;
  height: 120px;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 20px 0;

  @include range-width(0, 450px) {
    padding: 10px 15px;
  }
}

.adBoxs {
  display: inline-block;
  width: calc(100% / 4 - 20px * 3 / 4);
  height: 120px;
  margin-right: 20px;
  float: left;
  background-color: white;
  @include border-radius(5px);
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}

.box10, .box20, .box30, .box40, .box50, .box60, .box70, .box80, .box90 {
  display: inline-block;
  float: left;
}

.box10 {
  width: 10%;
}

.box20 {
  width: 20%;

  // safe
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box30 {
  width: 30%;

  // 互動學員，作文
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box40 {
  width: 40%;

  // safe
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box50 {
  width: 50%;
}

.box60 {
  width: 60%;

  // index title
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box70 {
  width: 70%;

  // 互動學員，作文
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box80 {
  width: 80%;

  // safe
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box90 {
  width: 90%;
}

.box100 {
  display: flex;
  justify-content: center;
  align-items: center;

  .box50 {
    display: flex;

    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      text-align: left;

      span {
        display: inline-block;
      }
      
      p {
        width: 80%;
      }
    }

    .nopl {
      display: flex;
      align-items: center;
      
      img {
        max-height: 27px;
      }
    }
  }
}

.m-qBtnBox {
  display: inline-block;
  width: calc(100% - 55px - 110px);
}

.fixBoxs {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
}

.safeBoxs {
  display: inline-block;
  width: calc(100% - 20px * 2);
  max-width: 950px;
  margin: 150px 20px 50px 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .5);
  @include border-radius(15px);
  position: relative;

  @include range-width(0, 450px) {
    margin: 50px 0;
    padding: 10px;
    width: 100%;
  }
}

.safeCent325 {
  display: inline-block;
  width: 100%;
  max-width: 325px;
  float: left;
}

.safeBox {
  display: inline-block;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  @include border-radius(15px);
  padding: 15px;
}

// 首頁輪播
#banner {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
  }
  overflow: hidden;
  width: 100%;
  // max-width: 350px;
  height: 385px;
  position: relative;
  // float: left;
  padding: 0 15px;
  margin: 0 auto;
}

#tab > img:not(:first-child) {
  display: none;
}

// 點點
.lunbo_btn {
  height: 15px;
  width: 100%;
  margin: 0px auto;
  margin-top: -40px;
  position: absolute;
  z-index: 3;
  text-align: center;

  span {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #b4b5b7;
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;

    &.hover {
      background-color: #ffb23c;
    }
  }
}

.arrow {
  // display: none;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 999;

  span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
  }
}

.slider_left {
  margin: 25px 0 0 15px;
  transform: rotate(45deg);
}

.prve {
  left: 0;
}

.next {
  right: 0;
}

.slider_right {
  margin: 25px 0 0 -5px;
  transform: rotate(-135deg);
}

// .arrow:hover {
//   background: #444;
// }

#banner:hover .arrow {
  display: block;
}


.help-note {
  display: inline-block;
  width: calc(100% - 370px - 10px * 2);
  margin: 10px;
  padding: 10px;
  font-size: 1.7rem;
  color: rgba(177, 0, 3, 1.00);
  font-weight: bolder;
  text-align: left;
  float: left;
  background-color: rgba(255, 224, 6, 1.00);
  @include border-radius(5px);
  
  @include range-width(0, 450px) {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.38rem;
  }
}

.qaBoxs {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 15px 0;
  float: left;

  @include range-width(0, 450px) {
    &:before {
      font-size: 1.15rem;
    }
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.7rem;
    font-weight: bolder;
    color: $color_DBlue;
  }
}

.qBoxs, .aBoxs {
  display: inline-block;
  width: calc(100% - 40px);
  float: right;
  font-size: 1.7rem;
  color: $color_DBlue;

  @include range-width(0, 450px) {
    &:before {
      font-size: 1.15rem;
    }
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.7rem;
    font-weight: bolder;
    margin-right: 5px;
  }
}

.qBoxs {
  padding-bottom: 10px;
  &:before {
    color: $color_red;
  }
}

.aBoxs {
  &:before {
    color: $page_green;
  }

  a {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: $color_red;
  }
}



// video中間盒子
.videoCentBoxs {
  display: inline-block;
  cursor: pointer;
  width: calc(100% / 4 - 40px * 3 / 4);
  float: left;
  margin-right: 40px;

  @include range-width(0, 450px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;

    &:nth-child(n+5) {
      margin-top: 0;
    }
  }

  &:nth-child(4n+4) {
    margin-right: 0;
  }

  &:nth-child(n+5) {
    margin-top: 20px;
  }

  .link_video {
    display: inline-block;
    width: 100%;

    .video_pic {
      display: inline-block;
      width: 100%;
      @include border-radius(5px);
      background-color: $video_blue;
      padding: 10px;
      
      img {
        display: inline-block;
        width: 100%;
        max-width: 325px;
        @include border-radius(5px);
        overflow: hidden;
      }
    }

    .game_pic {
      display: inline-block;
      width: 100%;
      @include border-radius(5px);
      background-color: rgba(255, 197, 5, 1.00);
      padding: 10px;
      
      img {
        display: inline-block;
        width: 100%;
        max-width: 325px;
        @include border-radius(5px);
        overflow: hidden;
      }
    }

    p {
      display: inline-block;
      width: 100%;
      font-size: 1.5rem;
      color: black;
      padding-top: 5px;
    }

    &:hover {
      .video_pic, .game_pic {
        background-color: rgba(227, 82, 82, 1.00);
      }

      p {
        color: $color_red;
      }
    }
  }
}

.loginBoxs {
  display: inline-block;
  width: 100%;
  @include border-radius(15px);
  background-color: rgba(255, 189, 6, 1.00);
  padding: 0 15px 15px 15px;
}

.w_loginBoxs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;

  &.chang_boxs {
    height: 600px;
  }

  .whiteBoxs {
    display: inline-block;
    width: 100%;
    max-width: 685px;
    margin: 0 auto;
    @include border-radius(15px);
    background-color: white;
    padding: 15px;
  }
}

.writeBoxs {
  display: inline-block;
  width: 100%;
  height: 346px;
  background: url(../img/interactive/in_write_bg.png) center center no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  padding: 45px;

  @include range-width(0, 450px) {
    height: 270px;
    background: url(../img/interactive/m_in_write_bg.png) center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    padding: 18px;
  }
}

.write_White_Boxs {
  display: inline-block;
  width: 100%;
  height: 140px;
  margin-top: 20px;
  overflow: hidden;
  @include border-radius(15px);
  background-color: white;
  padding: 15px;

  &.wwb2 {
    width: 48%;
  }

  @include range-width(0, 450px) {
    margin-top: 8px;
    padding:8px;
    height: 96px;
  }
}
















.show-box.spbox {
  display: inline-block;
    
  @include range-width(0, 450px) {
    .top {
      padding: 0 10px 0 10px !important;
      .boxs {
        .box-container {
          .box.writeCentBox {
            position: relative;
            height: 100px;
            background-color: transparent !important;
            padding: 0 !important;
            + .box {
              margin-left: 10px;
            }
            img {
              position: absolute;
              left: 0;
              top: 0;
              display: inline-block;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            &:after {
              display: none;
            }
            span {
              position: absolute;
              bottom: 4px;
              left: 4px;
              right: 4px;

              font-size: 10px;
              padding: 0 10px;

              z-index: 2;
              display: inline-block;
              width: calc(100% - 4px * 2);
              height: 20px;
              line-height: 20px;
              @include overflow-docx3();
              color: white;
              background-color: rgba(204, 205, 204, 1.00);
              @include border-radius(10px);
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.wh {
  width: 100%;
  height: 140px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.boxn {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  
  .header {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    
    label {
      flex-shrink: 0;
      display: inline-block;

      width: 150px;
      height: 32px;
      line-height: 32px;

      border: 1px solid rgba(0, 0, 0, .3);
      @include border-radius(4px);
      
      input {
        width: 100%;
        height: 100%;
      }
    }
    b {
      flex-grow: 1;
      height: 32px;
      line-height: 32px;
    }
    
  }
  .units {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    

    > * {
      background-color: rgba(236, 237, 212, 1.00);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      
      @include border-radius(6px);

      @include range-width(0, 450px + 1px) {
        width: 100%;
        img {
          height: auto;
        }
        + * {
          margin-top: 20px;
        }
      }
      @include range-width(450px) {
        width: calc(100% / 5 - 10px * 4 / 5);
        + * {
          margin-left: 10px;
        }
        &:nth-child(5n + 1) {
          margin-left: 0;
        }
        &:nth-child(n + 6) {
          margin-top: 10px;
        }
        img {
          height: 120px;
        }
      }

      img {
        display: inline-block;
        width: calc(100% - 20px);
        
        
        + span {
          margin-top: 4px;
        }
      }
      span {
        display: inline-block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}