@import "Ginkgo";
@import "color";
@import "text";
@import "space";
@import "table";
@import "other";
@import "link";
@import "input";

html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  &.indexBg {
    // height: 100vh;
    margin:0;
    padding:0;
    background: #436ace url(../img/bg.png) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    // background:linear-gradient(#30b6f3, #1f2a9c);
    // background:linear-gradient(to bottom, #30b6f3, #1f2a9c);
    // background:linear-gradient(180deg,#30b6f3, #1f2a9c);
    // background:linear-gradient(to top, #1f2a9c, #30b6f3);
    // background:linear-gradient(to bottom, #30b6f3 0%, #1f2a9c 100%);

    @include range-width(0, 450px) {
      background: #436ace url(../img/m_bg.png) center center fixed no-repeat;
      background-size: cover;
      -moz-background-size: cover;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
  padding: 0 50px;

  &.pageH {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -webkit-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -moz-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);
    -o-box-shadow: 1px 3px 5px 4px rgba(51, 51, 51, .8);

    @include range-width(0, 450px) {
      box-shadow: none;
    }
  }

  @include range-width(770px, 1190px) {
    padding: 0 20px;
  }

  @include range-width(450px, 770px) {
    padding: 0 0 0 20px;
  }

  @include range-width(0, 450px) {
    display: inline-block;
    padding: 0 0 0 10px;
    height: 40px;
  }
}

.pageTitleBox {
  display: inline-block;
  width: 100%;
  min-height: 199px;
  margin-top: 65px;
  background: url(../img/pageHeaderBG.png) center top fixed no-repeat;
  -moz-background-size: contain;
  background-size: contain;

  @include range-width(0, 450px) {
    margin-top: 40px;
    min-height: 60px;
    background: url(../img/m-pageHeaderBG.png) center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  }
}

.bg_blue {
  background-color: $color_footer;
}

.header_l, .header_r {
  display: inline-block;
  // line-height: 65px;
}

.header_l {
  width: 30%;
  float: left;
  text-align: left;

  @include range-width(0, 770px) {
    width: 85%;
  }
}

.header_r {
  width: 70%;
  float: right;
  text-align: right;

  @include range-width(0, 770px) {
    display: none;
  }
}

.posit {
  position: relative;
}

.posit_a {
  position: absolute;
}

.ds {
  display: inline-block;

  &.ds100 {
    width: 100%;
  }

  &.ds-60 {
    width: calc(100% - 60px);
    padding-left: 8px;
  }
}

.ds_cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1180px;

  .pageLeft, .pageRight {
    display: inline-block;
    float: left;
  }

  .pageLeft {
    width: 250px;

    @include range-width(0, 450px) {
      display: none;
    }
  }
  .pageRight {
    width: calc(100% - 250px);

    @include range-width(0, 450px) {
      width: 100%;
      padding: 15px;
    }
  }
}

.bigBoxs {
  display: inline-block;
  width: 100%;
  position: relative;

  &.cent_index {
    height: 100%;
    min-height: 800px;
    margin:0;
    padding:0;
    background: url(../img/star.png) center 65px fixed no-repeat;
    -moz-background-size: contain;
    background-size: contain;

    @include range-width(0, 450px) {
      background: url(../img/m_star.png) center top fixed no-repeat;
    }
  }

  .bigPlanet {
    display: inline-block;
    width: 100%;
    min-height: 490px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin:0;
    padding:0;
    background: url(../img/big_planet.png) center bottom fixed no-repeat;
    -moz-background-size: contain;
    background-size: contain;

    @include range-width(0, 450px) {
      min-height: 220px;
    }
  }
}

.mainBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.maxWidth {
  max-width: 1160px;
}

.allBoxs {
  display: inline-block;
  width: 100%;

  @include range-width(0, 1160px) {
    padding: 0 15px;
  }
}



// index title
.boxs280 {
  display: inline-block;
  width: 100%;
  height: 280px;

  @include range-width(0, 450px) {
    height: auto;
  }
}

.boxs120 {
  display: inline-block;
  width: 100%;
  height: 120px;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 20px 0;

  @include range-width(0, 450px) {
    padding: 10px 15px;
  }
}

.adBoxs {
  display: inline-block;
  width: calc(100% / 4 - 20px * 3 / 4);
  height: 120px;
  margin-right: 20px;
  float: left;
  background-color: white;
  @include border-radius(5px);
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}

.box20, .box30, .box40, .box60, .box80 {
  display: inline-block;
  float: left;
}

.box20 {
  width: 20%;
}

.box30 {
  width: 30%;
}

.box40 {
  width: 40%;
}

.box60 {
  width: 60%;

  // index title
  @include range-width(0, 450px) {
    width: 100%;
  }
}

.box80 {
  width: 80%;
}

.m-qBtnBox {
  display: inline-block;
  width: calc(100% - 55px - 110px);
}

.fixBoxs {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
}

// 首頁輪播
#banner {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
  }
  overflow: hidden;
  width: 100%;
  height: 400px;
  position: relative;
  float: left;
  padding: 30px 0;
}

#tab > img:not(:first-child) {
  display: none;
}

// 點點
.lunbo_btn {
  height: 15px;
  width: 100%;
  margin: 0px auto;
  margin-top: -40px;
  position: absolute;
  z-index: 3;
  text-align: center;

  span {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #b4b5b7;
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;

    &.hover {
      background-color: #ffb23c;
    }
  }
}

.arrow {
  display: none;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 999;

  span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
  }
}

.slider_left {
  margin: 25px 0 0 15px;
  transform: rotate(45deg);
}

.prve {
  left: 0;
}

.next {
  right: 0;
}

.slider_right {
  margin: 25px 0 0 -5px;
  transform: rotate(-135deg);
}

// .arrow:hover {
//   background: #444;
// }

#banner:hover .arrow {
  display: block;
}























