
// header紅色按鈕, 密碼ds
.m_r_10 {
  margin-right: 10px;
}

.m_r_5 {
  margin-right: 5px;
}

.m_t_10 {
  margin-top: 10px;
}

.m_t_15 {
  margin-top: 15px;
}

.m_t_30 {
  margin-top: 30px;
}

.m_t_30_DM {
  margin-top: 30px;

  @include range-width(0, 450px) {
    margin-top: 0;
  }
}

.m_t_50 {
  margin-top: 50px;
}

// 內頁footer
.m_t_100 {
  margin-top: 100px;

  @include range-width(0, 450px) {
    margin-top: 30px;
  }
}

.m_t_5 {
  margin-top: 5px;
}

.m_t_3 {
  margin-top: 3px;
}


// header qa boxs
.m_rt_3_8 {
  margin: 3px 8px 0 0;
}

// header 密碼
.p_t_3 {
  padding-top: 3px;
}

// header qa
.p_t_5 {
  padding-top: 5px;
}

// 麵包屑
.p_td_20_DM {
  padding: 20px 0;

  @include range-width(0, 450px) {
    padding: 10px 0;
  }
}

// index-title img
.p_td_20 {
  padding: 20px 0;
}

// index-title num
.m_r_30 {
  margin-right: 30px;
}