
// header紅色按鈕, 密碼ds
.m_r_10 {
  margin-right: 10px;
}

.m_r_5 {
  margin-right: 5px;
}

.m_t_10 {
  margin-top: 10px;
}

.m_t_15 {
  margin-top: 15px;
}

.m_t_30 {
  margin-top: 30px;
}

.m_t_30_DM {
  margin-top: 30px;

  @include range-width(0, 450px) {
    margin-top: 0;
  }
}

.m_t_50 {
  margin-top: 50px;
}

.m_td_30 {
  margin: 30px 0;
}

.m_3005 {
  margin: 30px 0;
  padding: 0 5px;
}

// 內頁footer
.m_t_100 {
  margin-top: 100px;

  @include range-width(0, 450px) {
    margin-top: 30px;
  }
}

.m_t_5 {
  margin-top: 5px;
}

.m_t_3 {
  margin-top: 3px;
}

.m_d_20 {
  margin-bottom: 20px;
}

.m_d_30 {
  margin-bottom: 30px;
}


.m_d_10 {
  margin-bottom: 10px;
}

.m_d_5 {
  margin-bottom: 5px;
}

// header qa boxs
.m_rt_3_8 {
  margin: 3px 8px 0 0;
}

// header 密碼
.p_t_3 {
  padding-top: 3px;
}

// header qa
.p_t_5 {
  padding-top: 5px;
}

// 麵包屑
.p_td_20_DM {
  padding: 20px 0;

  @include range-width(0, 450px) {
    padding: 10px 15px;
  }
}

.p_rl_15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p_rl_20 {
  padding-right: 20px;
  padding-left: 20px;
}

.p_rl_30 {
  padding-right: 30px;
  padding-left: 30px;
}

.p_r_20 {
  padding-right: 20px;
}

.p_td_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p_d_15 {
  padding-bottom: 15px;
}

.p_td_5 {
  padding: 5px 0;
}

// index-title img
.p_td_20 {
  padding: 20px 0;
}

// index-title num
.m_r_30 {
  margin-right: 30px;
}

.p_d_20 {
  padding-bottom: 20px;
}

.p_t_47 {
  padding-top: 47px;
}


// 互動學員
.m_p_lf5 {
  @include range-width(0, 450px) {
    padding: 0 5px;
  }
}

.in_m_d_20 {
  margin-bottom: 20px;
  @include range-width(0, 450px) {
    margin-bottom: 0;
  }
}

.p_l_20 {
  padding-left: 20px;
}


