@import "color";
@import "Ginkgo";

p {
  padding: 0;
  margin: 0;
}

.note_red {
  display: inline-block;
  padding: 3px 5px;
  background-color: red;
  color: white;
  font-size: 1rem;
  @include border-radius(50px);
  position: absolute;
  right: 35px;
  top: 37px;

  @include range-width(0, 450px) {
    position: static;
    margin-top: 10px;
  }
}

.textLeft {
  text-align: left;
}

.textReft {
  text-align: right;
}

.lineH33 {
  line-height: 33px;
} 

.f_b22_b {
  font-size: 1.6rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.f_b22 {
  font-size: 1.6rem;
  color: black;
  text-align: left;

  @include range-width(0, 450px) {
    font-size: 1.4rem;
  }
}

.f_b18_s {
  font-size: 1.3rem;
  color: black;
  text-align: left;

  &.f18_red {
    color: red;
  }
}


.f_b18 {
  font-size: 1.3rem;
  color: black;

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
  }
}

.f_b18_o {
  font-size: 1.3rem;
  color: black;
  background-color: rgba(255, 148, 52, 1.00);
  @include border-radius(15px);
  padding: 3px 5px;
}

// footer
.f_b13 {
  font-size: 1rem;
  line-height: 1.5;
  color: black;

  @include range-width(0, 450px) {
    font-size: .8rem;
    line-height: 1.3;
  }
}

// 手機版Menu
.m_f_b13 {
  display: inline-block;
  width: 100%;
  max-width: 65px;
  font-size: 1rem;
  line-height: 25px;
  color: black;
}

.whiteNum {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  @include border-radius(30px);
  background-color: white;
  padding: 10px 15px;
  text-align: left;
  margin-right: 30px;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.15rem;
    color: black;
  }

  &:last-child {
    margin-right: 0;
  }

  @include range-width(0, 450px) {
    padding: 10px 8px;
    font-size: 1rem;
    width: auto;
    max-width: none;
    margin-right: 5px;

    &:before {
      font-size: 1rem;
    }
  }
}


.hover_tag {
  font-size: 1.5rem;
  color: $font_grey;
  float: left;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
}


.f_b30 {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: bolder;
}

.helpTitle {
  display: inline-block;
  padding: 10px 15px;
  background-color: $color_footer;
  color: white;
  font-size: 2.3rem;
  font-weight: bolder;
  @include border-radius(5px);
  float: left;

  @include range-width(0, 450px) {
    font-size: 1.69rem;
  }
  
  &:before {
    display: inline-block;
    content: '\e902';
    color: rgba(177, 0, 3, 1.00);
    font-size: 3rem; 
    font-family: icon;
    margin-right: 5px;

    @include range-width(0, 450px) {
      font-size: 2.2rem;
    }
  }
}

.test-font {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: left;
}

.test-note {
  display: inline-block;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bolder;
  @include border-radius(5px);
  background-color: white;
  float: left;

  @include range-width(0, 450px) {
    padding: 6px 5px;
    font-size: 1rem;
  }
}

.t-his26 {
  display: inline-block;
  width: 100%;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;

  @include range-width(0, 450px) {
    text-align: center;
  }
}


.t-login {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: black;
  padding-bottom: 10px;

  &.notall {
    width: 25%;
    float: left;
  }
}

.inTitleBoxs {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(229, 36, 143, 1.00);
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  @include border-radius(15px);
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }

  &.inBoxs_b {
    background-color: rgba(0, 151, 191, 1.00);
  }
}

.inTitle {
  display: inline-block;
  padding: 10px 15px;
  color: rgba(229, 36, 143, 1.00);
  font-weight: bolder;
  font-size: 2rem;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
    text-align: center;
  }

  &.inT_b {
    color: rgba(0, 151, 191, 1.00);
  }
}

.inTitleBoxs2 {
  display: inline-block;
  padding: 10px 15px;
  color: rgba(131, 108, 108, 1.00);
  font-weight: bolder;
  font-size: 1.8rem;
  float: left;

  @include range-width(0, 450px) {
    width: 100%;
  }
}

.inTitle2 {
  display: inline-block;
  padding: 10px 15px;
  color: rgba(124, 124, 124, 1.00);
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

.t-w-22 {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1.84rem;
  font-weight: bolder;
  color: white;
  line-height: 1.5;
}

.t-y-22 {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1.84rem;
  font-weight: bolder;
  color: rgba(255, 197, 5, 1.00);
}








