@import "color";

p {
  padding: 0;
  margin: 0;
}

.textLeft {
  text-align: left;
}

.textReft {
  text-align: right;
}

.lineH33 {
  line-height: 33px;
} 

.f_b18 {
  font-size: 1.3rem;
  color: black;

  @include range-width(450px, 1025px) {
    font-size: 1.2rem;
  }
}

// footer
.f_b13 {
  font-size: 1rem;
  line-height: 1.5;
  color: black;

  @include range-width(0, 450px) {
    font-size: .8rem;
    line-height: 1.3;
  }
}

// 手機版Menu
.m_f_b13 {
  display: inline-block;
  width: 100%;
  max-width: 65px;
  font-size: 1rem;
  line-height: 25px;
  color: black;
}

.whiteNum {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  @include border-radius(30px);
  background-color: white;
  padding: 10px 15px;
  text-align: left;
  margin-right: 30px;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.15rem;
    color: black;
  }

  &:last-child {
    margin-right: 0;
  }

  @include range-width(0, 450px) {
    padding: 10px 8px;
    font-size: 1rem;
    width: auto;
    max-width: none;
    margin-right: 5px;

    &:before {
      font-size: 1rem;
    }
  }
}


.hover_tag {
  font-size: 1.5rem;
  color: $font_grey;
  float: left;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
}


.f_b30 {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: bolder;
}

.helpTitle {
  display: inline-block;
  padding: 10px 15px;
  background-color: $color_footer;
  color: white;
  font-size: 2.3rem;
  font-weight: bolder;
  @include border-radius(5px);
  float: left;

  @include range-width(0, 450px) {
    font-size: 1.69rem;
  }
  
  &:before {
    display: inline-block;
    content: '\e902';
    color: rgba(177, 0, 3, 1.00);
    font-size: 3rem; 
    font-family: icon;
    margin-right: 5px;

    @include range-width(0, 450px) {
      font-size: 2.2rem;
    }
  }
}

.test-font {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: left;
}

.test-note {
  display: inline-block;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bolder;
  @include border-radius(5px);
  background-color: white;
  float: left;

  @include range-width(0, 450px) {
    padding: 6px 5px;
    font-size: 1rem;
  }
}














