@import "Ginkgo";
@import "color";

// input[type="radio"]:checked + .label-box label span {
//     background:url(../img/cbx-on.png) no-repeat;
// }
.weekBoxs {
	.weekCentBox {
		.weekCent {
			.weekContent {
				.wLBox {
					.w_answer {
						.w_q {
							.img_q {
								display: block;
								margin-top: 10px;
								width: 180px;
								height: 135px;
							}
						}

						&.correct {
							.w_answer_box {

								&:last-child {
									.box100 {
										.w_select {
	
											margin-left: 52px;

											@include range-width(0, 450px) {
												margin-left: 15px;
											}
										}
										
									}	
								}
								.box100 {
									// flex-direction: column;
									// justify-content: flex-start;
									// align-items: center;
									// text-align: left;

									.w_select {
										margin-left: 52px;
										@include range-width(0, 450px) {
											margin-left: 15px;
										}
									}

									.img_a {
										margin-left: 52px;

										@include range-width(0, 450px) {
											margin-left: 15px;
										}
									}

									.w_anok {
										display: flex;
										justify-content: flex-start;
										align-items: center;
										padding-left: 52px;
										width: 100%;

										@include range-width(0, 450px) {
											padding-left: 15px;	
										}	

										&.nopl {
											padding: 10px 0 10px 0;
										}
									}
								}
							}
						}

						.w_answer_box {
							.box100 {
								justify-content: flex-start;

								label {

									@include range-width(0, 450px) {
										padding-left: 15px;
									}

									.label-box {
										display: flex;
										justify-content: flex-start;
										align-items: center;

										span {
											flex-shrink: 0;
										}

										p {
											color: #7f3034;
										}
									}
									
									.img_a {
										margin: 10px 0 0 35px;
										width: 180px;
										height: 135px;
										
									}
								}

								.img_a {
									margin: 10px 0 0 35px;
									width: 180px;
									height: 135px;
									
								}
					
								.w_select {
									margin-left: 50px;
									@include range-width(0, 450px) {
										margin-left: 50px;
									}

									&:before {
										// background-color: transparent;
									}

									span {
										display: flex;
										justify-content: flex-start;
										align-items: center;
										color: rgba(56, 149, 154, 1.00);

										&:after {
											margin-left: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
