@import "Ginkgo";
@import "color";

.weekBoxs {
	.weekCentBox {
		.weekCent {
			.weekContent {
				.wLBox {
					.w_answer {
						.w_q {
							.img_q {
								display: block;
								margin-top: 10px;
								width: 180px;
								height: 135px;
							}
						}

						&.correct {
							.w_answer_box {

								&:last-child {
									.box100 {
										.w_select {
	
											margin-left: 52px;

											@include range-width(0, 450px) {
												margin-left: 50px;
											}
										}
										
									}	
								}
								.box100 {
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
									.w_select {
										margin-left: 52px;
										@include range-width(0, 450px) {
											margin-left: 52px;
										}
									}

									.img_a {
										margin-left: 85px;

										@include range-width(0, 450px) {
											margin-left: 52px;
										}
									}

									.w_anok {
										display: flex;
										align-items: center;
										// padding-left: 52px;
									}
								}
							}
						}

						.w_answer_box {
							.box100 {
								justify-content: flex-start;

								label {

									@include range-width(0, 450px) {
										padding-left: 15px;
									}

									.label-box {
										display: flex;
										justify-content: flex-start;
										align-items: center;

										span {
											flex-shrink: 0;
										}
									}
									
									.img_a {
										margin: 10px 0 0 35px;
										width: 180px;
										height: 135px;
										
									}
								}

								.img_a {
									margin: 10px 0 0 35px;
									width: 180px;
									height: 135px;
									
								}
					
								.w_select {
									margin-left: 50px;
									@include range-width(0, 450px) {
										margin-left: 50px;
									}

									&:before {
										// background-color: transparent;
									}

									span {
										display: flex;
										justify-content: flex-start;
										align-items: center;

										&:after {
											margin-left: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
